﻿<div id=mybreadcrumbs>
<% if @taxon.parent %>
          <%= link_to @taxon.parent.name, seo_url(@taxon.parent) %>
<% end %>

 > 

          <%= link_to @taxon.name, seo_url(@taxon) %>

</div>