
<div class="taxon">
  <h3 class="border_brown"><%= link_to taxon.name, seo_url(taxon), :class => 'breadcrumbs' %></h3>
  <%= render :partial => "shared/products", :locals => {:products => taxon_preview(taxon, max=3), :taxon => taxon, :hide_page_numbers => true} %>
</div>
