<%= render :partial => "breadcrumbs" %>

<div><h1><%= @taxon.name %></h1>  </div>
<br class="clear"/>
<div class=taxon_desc>
<%= render :partial => "description" %>
</div>

<br class="clear"/>

<% content_for :sidebar do %>
    <%= hook :taxon_sidebar_navigation do %>
        <%= render :partial => "shared/taxonomies" %>
        <div class="clear"></div>
    <% end %>
<% end %>

<%= hook :search_results do %>
<% end %>

<% if @taxon.children.empty? || !params[:keywords].blank? %>
    <%
             paginated_products = @searcher.try(:products) if params.key?(:keywords)
             paginated_products ||= @products
    %>
    <div class="fl_right">
      <p class="right"><%= t('total_products') %>:<span class="left-m_30"><%= paginated_products.total_entries %></span></p>
      <ul class="sorting">
        <li>Показывать на странице:</li>
        <%= per_page_links([30, 60, 90], @products.per_page) %>
      </ul>
    </div>
    <br class="clear">

    <ul class="sorting arrow">
      <li>Сортировать по:</li>
      <%= sort_links({'цене'=>:price,'популярности'=>:popular,'новизне'=>:newest, 'имени'=>:name}, params[:sort]) %>
    </ul>

    <div class="container_full top-m_15">
      <%= hook :taxon_products do %>
          <div class="set_filter">
            <%= render(:partial => "shared/filters") if @taxon.children.empty? %>
          </div>
          <div class="catalog">
            <%= render :partial => "shared/catalog", :locals => {:products => @products, :taxon => @taxon} %>
          </div>
          <br class="clear">
    </div>

          <% if paginated_products.respond_to?(:total_pages) %>
              <div class="page_numbers">
			  
				<div class="align_center_to_left">
				<div class="align_center_to_right">
					<%
					   params.delete(:search)
					   params.delete(:taxon)
	
					%>
					<%= will_paginate(paginated_products,
									  :previous_label => "&#171; #{t('previous')}",
									  :next_label => "#{t('next')} &#187;") %>
              	</div>
			  	</div>
			  </div>
          <% end %>

      <% end %>
<% else %>
    <%= hook :taxon_children do %>
        <% @taxon.children.each do |child| %>
            <%= render :partial => "taxon", :locals=>{:taxon => child} unless child.products.empty?%>
        <% end %>
    <% end %>
<% end %>

<%= javascript_include_tag 'custom.js' %>

