<style>
div.inner input[type=text], div.inner select { width: 80%; }
.hidden { display: none; }
</style>
<fieldset id='coupon_code' class='form_authorization top-m_15'>
  <div class="inner">
      <p id="bfname" class="field form_row">
	<%= form.label :my_coupon_code, t(:coupon_code) %>
	<%= form.text_field :my_coupon_code %>
      </p>
  </div>
</fieldset>

<fieldset id='billing' class="form_authorization top-m_15">
  <%= form.fields_for :bill_address do |bill_form| %>
    <legend><%= t("billing_address")%></legend>
    <div class="inner">
      <p class="field form_row">&nbsp;</p>
      <p id="bfname" class="field form_row">
        <%= bill_form.label :firstname, t(:first_name) %>
        <%= bill_form.text_field :firstname, :class => 'required' %>
      </p>
      <p id="blname" class="field form_row">
        <%= bill_form.label :lastname, t(:last_name) %>
        <%= bill_form.text_field :lastname, :class => 'required' %>
      </p>
      <p id="baddress" class="field form_row">
        <%= bill_form.label :address1, t(:street_address) %>
        <%= bill_form.text_field :address1, :class => 'required' %>
      </p>
      <p id="bcity" class="field form_row">
        <%= bill_form.label :city, t(:city) %>
        <%= bill_form.text_field :city, :class => 'required' %>
      </p>
      <% if Spree::Config[:address_requires_state] %>
        <p class="field form_row">
          <span id="bstate">
            <% have_states = !@order.bill_address.country.states.empty? %>
            <%= bill_form.label :state, t(:state) %>
            <noscript>
              <%= bill_form.text_field :state_name, :class => 'required' %>
            </noscript>
            <% state_elements = [
               bill_form.collection_select(:state_id, @order.bill_address.country.states,
                                  :id, :name,
                                  {:include_blank => true},
                                  {:class => have_states ? "required" : "hidden",
                                  :disabled => !have_states}) +
                bill_form.text_field(:state_name,
                                  :class => !have_states ? "required" : "hidden",
                                  :disabled => have_states)
                ].join.gsub('"', "'").gsub("\n", "")
            %>
            <script type="text/javascript" language="javascript" charset="utf-8">
            // <![CDATA[
            document.write("<%== state_elements %>");
            // ]]>
            </script>
          </span>
          
        </p>
      <% end %>
      <p id="bzip" class="field form_row">
        <%= bill_form.label :zipcode, t(:zip) %>
        <%= bill_form.text_field :zipcode, :class => 'required' %>
      </p>
      <p id="bcountry" class="field form_row">
        <%= bill_form.label :country_id, t(:country) %>
        <span id="bcountry"><%= bill_form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required'} %></span>
        
      </p>
      <p id="bphone" class="field form_row">
        <%= bill_form.label :phone, t(:phone) %>
        <%= bill_form.text_field :phone, :class => 'required' %>
          </p>
          <% if Spree::Config[:alternative_billing_phone] %>
            <p id="baltphone">
              <%= bill_form.label :alternative_phone, t(:alternative_phone) %>
              <%= bill_form.text_field :alternative_phone %>
            </p>
          <% end %>
    </div>
  <% end %>
</fieldset>
<fieldset id='shipping' class="hidden">
  <%= form.fields_for :ship_address do |ship_form| %>
    <legend><%= t("shipping_address")%></legend>
    <p class="field checkbox" >
      <label for="order_use_billing" id="use_billing">
        <%= check_box_tag 'order[use_billing]', '1', true %> <%= t("use_billing_address") %>
      </label>
    </p>
    <div class="inner">
      <p id="sfname" class="field form_row">
        <%= ship_form.label :firstname, t(:first_name) %>
        <%= ship_form.text_field :firstname, :class => 'required' %>
      </p>
      <p id="slname" class="field form_row">
        <%= ship_form.label :lastname, t(:last_name) %>
        <%= ship_form.text_field :lastname, :class => 'required' %>
      </p>
      <p id="saddress" class="field form_row">
        <%= ship_form.label :address1, t(:street_address) %>
        <%= ship_form.text_field :address1, :class => 'required' %>
      </p>
      <p id="scity" class="field form_row">
        <%= ship_form.label :city, t(:city) %>
        <%= ship_form.text_field :city, :class => 'required' %>
      </p>
      <% if Spree::Config[:address_requires_state] %>
        <p class="field form_row">
          <span id="sstate">
            <% have_states = !@order.ship_address.country.states.empty? %>
            <%= ship_form.label :state, t(:state) %>
            <noscript>
              <%= ship_form.text_field :state_name, :class => 'required' %>
            </noscript>
            <% state_elements = [
                  ship_form.collection_select(:state_id, @order.bill_address.country.states,
                                    :id, :name,
                                    {:include_blank => true},
                                    {:class => have_states ? "required" : "hidden",
                                    :disabled => !have_states}) +
                  ship_form.text_field(:state_name,
                                    :class => !have_states ? "required" : "hidden",
                                    :disabled => have_states)
                ].join.gsub('"', "'").gsub("\n", "")
            %>
            <script type="text/javascript" language="javascript" charset="utf-8">
            // <![CDATA[
            document.write("<%== state_elements %>");
            // ]]>
            </script>
          </span>
          
        </p>
      <% end %>
      <p id="szip" class="field form_row">
        <%= ship_form.label :zipcode, t(:zip) %>
        <%= ship_form.text_field :zipcode, :class => 'required' %>
      </p>
      <p id="scountry" class="field form_row">
        <%= ship_form.label :country_id, t(:country) %>
        <span id="scountry"><%= ship_form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required'} %></span>
        
      </p>
      <p id="sphone" class="field form_row">
        <%= ship_form.label :phone, t(:phone) %>
        <%= ship_form.text_field :phone, :class => 'required' %>
          </p>
          <% if Spree::Config[:alternative_shipping_phone] %>
            <p id="saltphone">
              <%= ship_form.label :alternative_phone, t(:alternative_phone) %>
              <%= ship_form.text_field :alternative_phone %>
            </p>
          <% end %>
    </div>
  <% end %>
</fieldset>

<hr class="space" />
<div class="form-buttons">
  <input type="submit" class="continue button primary" value="<%=t("save_and_continue") %>" />
</div> 
