<% content_for :sidebar do %>
    <%= hook :taxon_sidebar_navigation do %>
        <%= render :partial => "shared/taxonomies" %>
    <% end %>
<% end %>
<% content_for :head do %>
    <%= javascript_include_tag 'checkout', '/states' %>
<% end %>

<h1><%= t("checkout") %></h1>
<%= checkout_progress %>
<br class="clear" />
<%= render "shared/error_messages", :target => @order %>
<div class="container_full_marg top-m_15">
  <%= form_for(@order, :url => update_cart_path, :html=>{:id=>'updatecart'}) do |order_form| %>
      <table class="basket">
        <tbody>
	<%= order_form.fields_for :line_items do |item_form| %>
            <%= render 'orders/line_item', :variant => item_form.object.variant, :line_item => item_form.object, :item_form => item_form %>
        <% end %>
        </tbody>
      </table>
  <% end %>
  <%= hook :checkout_summary_box do %>
        <%= render 'summary', :order => @order %>
  <% end %>
  <%= form_for @order, :url => update_checkout_path(@order.state), :html => {:id => "checkout_form_#{@order.state}"} do |form| %>
      <%= render @order.state, :form => form %>
      <input id="post-final" type="submit" style="display:none" class="submit_button"/>
  <% end %>
</div> 
