<h2><%= link_to e.title, entry_permalink(e) %></h2>

<div class="date">
  <%= l( e.created_at.to_date, :format => :long) %>
</div>

<div class="body">
    <% if e.images.length == 1 %>
      <%= link_to(image_tag(e.images.first.attachment.url(:normal)), e.images.first.attachment.url(:large), :class=>'blog_image',:subdomain=>nil) %>
    <% end %>

  <%= raw e.body %>

  <% if e.images.length > 1 %>
      <div class="images">
          <% e.images.each do |image| %>
              <%= link_to(image_tag(image.attachment.url(:normal)), image.attachment.url(:large)) %>
          <% end %>
      </div>
   <% end %>
</div>

<% unless e.tag_list.empty? %>
  <%= render :partial => 'tag_list', :locals => {:e => e}  %>
<% end %>

<br class="clear" />
