<%= javascript_include_tag 'custom.js' %>
<div id="unit_tabs">
  <ul class="unit_tabs_label">
    <li><a href="#" rel="tab1">
											<span class="inner">
												<span class="left"></span>
												<span class="center">Комментарии Bemileo</span>
												<span class="right"></span>
											</span>
    </a>
    </li>
    <li><a href="#" rel="tab2">
											<span class="inner">
												<span class="left"></span>
												<span class="center">ВКонтакте</span>
												<span class="right"></span>
											</span>
    </a>
    </li>
    <li><a href="#" rel="tab3">
											<span class="inner">
												<span class="left"></span>
												<span class="center">Facebook</span>
												<span class="right"></span>
											</span>
    </a>
    </li>
    <li><a href="#" rel="tab4">
											<span class="inner">
												<span class="left"></span>
												<span class="center">Twitter</span>
												<span class="right"></span>
											</span>
    </a>
    </li>
  </ul>
  <div class="unit_tabs_content">
    <div id="tab1" class="page">
      <% if user_signed_in? %>
          <%= render :partial => 'shared/comments/form', :locals=>{:product => @product, :review => @review} %>
      <% end %>
      <div class="comments">
        <%= render :partial => 'shared/comments/reviews' %>
      </div>
    </div>
    <div id="tab2" class="page">
      <%= render :partial => 'shared/comments/vkontakte' %>
    </div>
    <div id="tab3" class="page">
      <%= render :partial => 'shared/comments/facebook' %>
    </div>
    <div id="tab4" class="page">
      <%= render :partial => 'shared/comments/twitter' %>
    </div>
  </div>
</div>