<style>
    div.inner input[type=text], div.inner select {
        width: 80%;
    }

    .hidden {
        display: none;
    }
</style>
<fieldset class="form_authorization top-m_15">
  <legend></legend>
  <%= form.fields_for :bill_address do |bill_form| %>
      <div class="inner">
          <p class="field form_row">&nbsp;</p>
          <p id="bfname" class="field form_row">
            <%= bill_form.label :firstname, t(:first_name) %>
            <%= bill_form.text_field :firstname, :class => 'required' %>
          </p>
          <p id="blname" class="field form_row">
            <%= bill_form.label :lastname, t(:last_name) %>
            <%= bill_form.text_field :lastname, :class => 'required' %>
          </p>
          <p id="baddress" class="field form_row">
            <%= bill_form.label :address1, t(:street_address) %>
            <%= bill_form.text_field :address1, :class => 'required' %>
          </p>
          <p id="bcity" class="field form_row">
            <%= bill_form.label :city, t(:city) %>
            <%= bill_form.text_field :city, :class => 'required' %>
          </p>
          <% if Spree::Config[:address_requires_state] %>
            <p class="field form_row">
              <span id="bstate">
                <% have_states = !@order.bill_address.country.states.empty? %>
                <%= bill_form.label :state, t(:state) %>
                <noscript>
                  <%= bill_form.text_field :state_name, :class => 'required' %>
                </noscript>
                <% state_elements = [
                   bill_form.collection_select(:state_id, @order.bill_address.country.states,
                                      :id, :name,
                                      {:include_blank => true},
                                      {:class => have_states ? "required" : "hidden",
                                      :disabled => !have_states}) +
                    bill_form.text_field(:state_name,
                                      :class => !have_states ? "required" : "hidden",
                                      :disabled => have_states)
                    ].join.gsub('"', "'").gsub("\n", "")
                %>
                <script type="text/javascript" language="javascript" charset="utf-8">
                // <![CDATA[
                document.write("<%= raw state_elements %>");
                // ]]>
                </script>
              </span>
              
            </p>
          <% end %>
          <p id="bzip" class="field form_row">
            <%= bill_form.label :zipcode, t(:zip) %>
            <%= bill_form.text_field :zipcode, :class => 'required' %>
          </p>
          <p id="bcountry" class="field form_row">
            <%= bill_form.label :country_id, t(:country) %>
            <span id="bcountry"><%= bill_form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required'} %></span>
            
          </p>
          <p id="bphone" class="field form_row">
            <%= bill_form.label :phone, t(:phone) %>
            <%= bill_form.text_field :phone, :class => 'required' %>
              </p>
              <% if Spree::Config[:alternative_billing_phone] %>
                <p id="baltphone">
                  <%= bill_form.label :alternative_phone, t(:alternative_phone) %>
                  <%= bill_form.text_field :alternative_phone %>
                </p>
              <% end %>
        </div>
      <div class="form_row">
        <label>Способ оплаты:</label>

        <div class="row_wrapper">
          <ul>
            <% @order.available_payment_methods.each do |method| %>
                <li>
                  <label>
                    <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.payment_method %>
                    <%= t(method.name, :scope => :payment_methods, :default => method.name) %>
		    <div class="payment_method_description method.name">
		      <%= method.description %>
		    </div>
                  </label>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
  <% end %>
</fieldset>

<hr class="space"/>
<div class="form-buttons" style="padding-top:4px;">
  <input type="submit" class="submit_button" value="<%= t("save_and_continue") %>"/>
</div>
