ну неужели нет?!
<fieldset id="payment">
  <legend><%= t("payment_information") %></legend>
  <%= hook :checkout_payment_step, {:form => form} do %>
    <% @order.available_payment_methods.each do |method| %>
    <p>
      <label>
        <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.payment_method %>
        <%= t(method.name, :scope => :payment_methods, :default => method.name) %>
      </label>
    </p>
    <% end %>

    <ul id="payment-methods">
      <% @order.available_payment_methods.each do |method| %>
        <li id="payment_method_<%= method.id %>"<%= ' class="last"' if method == @order.available_payment_methods.last %>>
          <fieldset>
            <%= render "checkout/payment/#{method.method_type}", :payment_method => method %>
          </fieldset>
        </li>
      <% end %>
    </ul>
    <br style='clear:both;' />
    <%= hook :coupon_code_field, {:form => form} %>
  <% end %>
</fieldset>

<hr class="space" />
<div class="form-buttons">
  <input type="submit" class="submit_button" value="<%= t('save_and_continue') %>" />
</div>
