<div class="ultimately bottom_40">
  <div class="fl_right">
    <p><b>Сумма:</b> (без учета доставки) <b class="left-m_40"><%= number_to_currency @order.total %></b></p>
    <!--</table><table>-->
    <!--<tbody>-->
    <!--<tr>-->
    <!--<td><strong><%= t('item_total') %>:</strong></td>-->
    <!--<td><strong><%= number_to_currency order.item_total %></strong></td>-->
    <!--</tr>-->
    <!--<tbody id="summary-order-charges">-->
    <!--
    <% order.adjustments.each do |adjustment| %>-->
        <!--<tr>-->
        <!--<td><%= adjustment.label %>: </td>-->
        <!--<td><%= number_to_currency adjustment.amount %></td>-->
        <!--</tr>-->
        <!--
    <% end %>-->
    <!--</tbody>-->
    <!--<tr>-->
    <!--<td><strong><%= t('order_total') %>:</strong></td>-->
    <!--<td><strong><span id='summary-order-total'><%= number_to_currency @order.total %></span></strong></td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
  </div>
</div>