<% content_for :sidebar do %>
    <%= hook :taxon_sidebar_navigation do %>
        <%= render :partial => "shared/taxonomies" %>
    <% end %>
<% end %>
<%= render "shared/error_messages", :target => @user %>
<h2><%= t("registration") %></h2>
<div id="registration" style="width:760px">
  <div id="account" style="float:left">
    <%= render :file => 'user_sessions/new' %>
  </div>
  <% if Spree::Config[:allow_guest_checkout] %>
      <div class="container_full_marg">
        <h3 class="border_brown top_40"><%= t(:guest_user_account) %></h3>
        <%= render "shared/error_messages", :target => @order %>
        <%= form_for @order, :url => update_checkout_registration_path, :html => {:method => :put, :id => "checkout_form_registration"} do |f| %>
            <fieldset class="form_authorization">
              <legend></legend>
              <div class="form_row">
                <%= f.label :email, t("authorization_email") %>
                <%= f.text_field :email, :class => 'title' %>
              </div>
              <%= submit_tag t("continue"), :class => 'submit_button_beig right-m_50' %>
            </fieldset>
        <% end %>
  <% end %>
  </div>
</div>