@charset "utf-8";
/*================================== Table of Contents =========================================
/*  0. CSS reset
/*  1. Global Structure
/*      1.1 Header
/*      1.2 Content
/*      1.3 Footer
/*  2. General tags
/*  3. Layout
/*      3.1 Header
/*      3.2 Content
/*			 3.2.1 MenuLeft
/*           3.2.2 ContRight Main
/*           3.2.3 Forms
/*			 3.2.4 Some containers
/*      3.3 Footer
/*  4. Global Properties
/*      4.1 Icons & Decor
/*      4.2 Text styles
/*      4.3 Some styles & Grid
/*================================================================================================*/

/* CSS reset */
html, body, div, span, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, q, s, samp,
small, strike, strong, sub, b, u, i, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
		background: transparent;
		border: 0;
		font-size: 100%; 
		vertical-align: baseline;
		outline: 0;
		margin: 0; 	padding: 0; }
		
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { 
	content: ''; 
	content: none; 
	}
table, caption, tbody, tfoot, thead, tr, th, td { 
	border:none; 
	border-collapse: collapse;
	vertical-align:center;
	margin: 0; 	
	padding: 0;
	}
img { border:none; }
:focus,
input:focus { outline: none; }

/* ============================================================================================================================= */
/* 1.  Global   Structure */                                                                          /*  1.  Global   Structure */
/* ============================================================================================================================= */

html {   
	height:100%; 
	width:100%; 
	}
body { 
	height:100%; 
	min-width:1000px;  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%; 
	font-weight:400; 
	background:#ffffff; 
	}
	#page {
		width: 100%;
		min-height: 100% ;
		background: #ffffff;
		font-size: 12px; 
		overflow:hidden; zoom:1;
        margin:0; 
		}
	
			
/* ------------------------------------------------------------------------------------------------  1.1   Header  */ 

#wrapper {
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
	}
		
/* ----------------------------------------------------------------------------------------------   1.2    Content  */

#conteiner {
	float: left;
	width: 100%;
	background: #ffffff;
	padding: 35px 0 45px;
	}
	.content {
		width: 980px;
		margin: 0 auto;
		}
		.content #ContLeft {
			float: left;
			width: 230px;
			margin-right: 18px;
			}
			.content.authorization #ContLeft { display:none; }
			
		.content #ContRigh {
    		float: right;
    		width: 725px;
			}
      
		.content #ContRigh #page_content h2 {
    		margin-top: 4px;
		  }
		.content #ContRigh h1 {
    		float: none;
		  }
			.content.authorization #ContRigh { float: none; margin:0 auto;  }
	
/* ------------------------------------------------------------------------------------------------  1.3    Footer   */

#footer {
	float: left;
	width: 100%;
	background: url(../images/texture_footer.jpg) repeat left top;
	padding-bottom: 15px;
	}

/* ============================================================================================================================= */
/* 2.    General      tags */                                                                        /*    2.  General      tags */
/* ============================================================================================================================= */

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	}
ol { list-style-type: decimal; }

a div, 
a span, 
button div, 
button span { cursor:pointer; }
	
p { 
	font-size:12px;
	font-weight:400; 
	line-height:18px; 
	color:#555555;  
	}


/* ============================================================================================================================= */
/*   Header   */                                    /*   3.1  HEADER   */                                            /*   Header */
/* ============================================================================================================================= */

/* ----------------------------------------------------------------------------------------------  header top    */
#header {
	position: relative;
	height: 29px;
	width: 100%;
	background: url(../images/header_menu.png) repeat-x left top; 
	border-bottom:1px solid #ffffff;
	}
	.header-wrap {
		position: relative;
		width: 1000px;
		margin:0 auto;
		}
		ul.dropmenu,
		ul.menu-down {
			float: left;
			height: 29px;
			font-family: Tahoma;
			font-size: 12px;
			color: #FFFFFF;
			}
			ul.dropmenu li,
			ul.menu-down li {
				float: left;
				position: relative;
				background: url(../images/header_menu.png) no-repeat left -29px; 
				border-right: 1px solid #0e5f95;
				font-size: 12px;
				font-family: Tahoma, Geneva, sans-serif;
				letter-spacing: 1px;
				}
			ul.dropmenu li:hover {
				background: #dc8100; 
				border-right: 1px solid #dc8100;
				}
				.dropmenu li a {
					float: left;
					color: #ffffff;
					text-decoration: none;
					padding: 7px 17px 8px 17px;
					}
					.header-wrap font {
						border-bottom: 1px dotted #fff;
						}
						.header-wrap li:hover font {
							border-bottom: 1px solid #ffffff;
							}
				.dropmenu li a:hover{ color: #ffffff;}
				
					.dropmenu li:hover > div {
    					display: block;
						}
						.dropmenu li ul li, 
						.dropmenu li ul li a {
							float: none;
							background:none; 
							border:none;
							color: #5d6569;
							text-decoration: none;
							padding:0;
							margin:0;
							}
						.dropmenu li ul li:hover {
							background: none;
							border:none;
							}
						.dropmenu li ul li a {
							display: block;
							white-space:nowrap;
							}
						.dropmenu li ul li a:hover {
							background: none;
							color: #F67A00;
							}
							
			/* ----------------------------------------------------------------------------  li 1    */
			#nav-one .deactiv {
				background: none; 
				font-family: Tahoma, Geneva, sans-serif;
				font-size: 12px;
				padding:7px 17px 0;
				}
				#nav-one li.deactiv:hover {	border-right: 1px solid #0e5f95; }
				
			/* ----------------------------------------------------------------------------  li 2    */	
			#nav-one .deactiv2 {
				padding: 0px;
				}
				#nav-one .deactiv2 a {
					background: url(../images/header_icon.png) no-repeat -17px 13px; 
					padding:7px 17px 8px 23px;
					}
					#nav-one li.deactiv2 ul li { 
						padding-left:44px;
						margin-bottom:4px;
						}
						#nav-one li.deactiv2 ul li a { 
							line-height:14px; 
							white-space:nowrap;
							padding:6px 0 6px 3px;
							}
					
			/* ----------------------------------------------------------------------------  li 3    */		
			#nav-one li.deactiv2+li {
				padding-left: 20px;
				}
				#nav-one li.deactiv2+li:hover { 
					background: url(../images/header_menu.png) no-repeat left -29px; 
					border-right: 1px solid #0e5f95;
					}
					/*#nav-one li.deactiv2+li a:hover { background: url(../images/header_menu.png) repeat-x left -58px;}*/
					#nav-one li.deactiv2+li .drop_box {	left:24px;	}
					
 					div.login { 
						width:185px;
    					padding:4px;
						}
						.login label { 
							display:block;
    						color: #595959;
    						padding: 0 0 4px;
							}
						.login input[type="text"],
						.login input[type="password"] {
							width: 164px;
    						border: 1px solid #4A779D;
    						margin-bottom: 8px;
    						padding: 3px 8px;
							}
						.login input[type="checkbox"].left,
						.login label.left {	margin:10px 5px 8px 0; }
						
						.login input.button,
						.login a.input.button {
							width: 182px;
							background:#4A779D;
							border: 1px solid #4A779D; 
							cursor:pointer;
							color: #FFFFFF;
							padding: 4px 10px;
							margin:3px 0 8px;
							}
							.login a.input.button { 
								width: 160px;
								text-align:center; 
								padding: 6px 10px 7px;
								margin-top: 0px;
								}

			/* ----------------------------------------------------------------------------  li 6    */		
			#nav-one li.deactiv2+li+li+li+li .drop_box { 
				width: auto; 
				left:-200px; 
				}
				#nav-one li.deactiv2+li+li+li+li .drop_box .drop_arrow { margin:-20px 0 10px 80%; }

				#nav-one li.deactiv2+li+li+li+li ul li { margin-top:17px;}
				#nav-one li.deactiv2+li+li+li+li ul li:first-child { margin-top:0px;}
				
				#nav-one li.deactiv2+li+li+li+li ul li a {
    				width: 300px;
					white-space: normal;
					}
	
/* ------------------------------------------------------------------------------------------------  header menu-box    */
	
#menu-box {
	float: left;
	width: 100%;
	height: 132px;
	clear: both;
	display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #5d6569;
	}
	ul.box {
    	height: 132px;
		width: 1000px;
		clear: none;
		padding: 0;
		margin: 0 auto;
		}
		.box li {
			float: left;
			height: 112px;
			margin-top: 10px;
			margin-bottom: 10px;
			}
			.box li:first-child { margin-left: 17px;}
				
		.box .indicator {
			width: 260px;
			height: 112px;
			display: block;
			font-size: 12px;
			margin-right: 10px;
			margin-left: 10px;
			}
			.box .indicator ul { padding-top: 15px;	}
			.box .indicator ul li:first-child { margin-left:0px; }
			.box .indicator li {
				height: 25px;
				width: 225px;
				display: block;
				background-attachment: scroll;
				background-repeat: no-repeat;
				padding-left: 35px;
				padding-top: 5px;
				margin: 0 auto;
				margin-bottom: 3px;
				}
				li.indicator_1 { background-image: url(../images/indicator_1.png);}
				li.indicator_2 {background-image: url(../images/indicator_2.png);}
				li.indicator_3 {background-image: url(../images/icon_5.png);}

		.box .basket {
			float: right;
			width: 154px;
			height: 112px;
			background: url(../images/wind.png) no-repeat left top;
			font-size: 11px;
			display: block;
			margin:11px 20px 9px 0;
			}
			.box .basket div {
				height: 46px;
				display: block;
				padding:10px 0 0px 0px;
				}
				.box .basket b {
					font-size: 14px;
					padding:0px 0 0px 61px;
					}
				.box .basket a {
					width: 87px;
					display:block;
					font-size:11px;
					color:#4f5459; 
					text-decoration: none;
					padding:0px 0 0px 61px;
					}
					.box .basket a:hover {  
						color:#f07b00; 
						text-decoration: none;
						}
			
	
/* ------------------------------------------------------------------------------------------------  header   middle-menu   */
	
#middle-menu {
	float: left;
	height: 27px;
	width: 100%;
	background:#efece7; 
	border-top:1px solid #e7e1d3;
	display: block;
	clear: both;
	}
	ul.middle {
		float: left;
		height: 28px;
		}
		ul.middle li { 
			display:inline; 
			}
			ul.middle li a {
				float: left;
				font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 11px;
				color: #5d6569;
				text-decoration: underline;
				line-height: 2;
				margin: 0px 17px 0px 17px;
				}
			ul.middle li a:hover {color: #106a9e;}
					
	ul.social {
		float: right;
		height: 28px; 
		margin:2px 20px 0 0; 
		}	
		ul.social li { 
			display:inline;
			}
			ul.social li a { 
				float: left;
				height: 21px;
				width: 20px;
				margin-left:25px; 
				}
				a.twitter { background: url(../images/header_icon.png) no-repeat left -16px; }
				a.twitter:hover {background: url(../images/header_icon.png) no-repeat -20px -16px;}
				a.rss  { background: url(../images/header_icon.png) no-repeat left -37px; }
				a.rss:hover { background: url(../images/header_icon.png) no-repeat -20px -37px;	}
				a.facebook  { background: url(../images/header_icon.png) no-repeat left -58px; }
				a.facebook:hover { background: url(../images/header_icon.png) no-repeat -20px -58px; }
				a.faq  { background: url(../images/header_icon.png) no-repeat left -80px; }
				a.faq:hover { background: url(../images/header_icon.png) no-repeat -20px -80px;	}

/* ------------------------------------------------------------------------------------------------  header    header-down    */
	
#header-down {
	float: left;
	width: 100%;
	height: 38px;
	background: url(../images/main_menu.png) repeat-x;
	border-bottom:1px solid #ffffff;
	}
	ul.menu-down {
		height: 38px;
		border-left: 1px solid #0E5F95;
		background: url(../images/main_menu.png) no-repeat right -125px;
		padding-right: 1px;
		}
		ul.menu-down li {
			width: auto;
			height: 38px;
			background: url(../images/main_menu.png) no-repeat left -125px;
			}
		ul.menu-down li.fl_right {
			float:right; 
			border-left: 1px solid #0E5F95;
			}	
		ul.menu-down li:hover {
			background: #dc8100; 
			border-right: 1px solid #dc8100;
			}
			ul.menu-down a {
				height: 38px;
				width: auto;
				display: block;
				font-family: Tahoma, Geneva, sans-serif;
				font-size: 12px;
				color: #FFFFFF;
				text-decoration: none;
				line-height: 3;
				font-style: normal;
				letter-spacing: 1px;
				padding: 0px 17px 0px 17px;
				}
			ul.menu-down a:hover {color: #ffffff;}
	

/* ============================================================================================================================= */
/*   Content   Details */                     /*   3.2   CONTENT  */         						      /* Content   Details */
/* ============================================================================================================================= */

/* --------------------------------------------------------------------------------------  3.2.1    MenuLeft  */

#ContLeft #MenuLeft {
	display: block;
	width: 230px;
	}
	.search {
		float: right; 
		width: 225px;
		height: 82px;
		background: url(../images/search.png) no-repeat left top;
		font-size: 12px;
		}
		.search form { 
			display:block; 
			padding:20px 0 0 16px; 
			}
			.search input {
				width: 155px;
				height: 30px;
				background: none;
				border: 0px;
				font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 12px;
				color: #888c8e;
				margin-right:6px;
				padding-left:10px;
				}
	
	#nav{
		width:221px;
		display:block;
		margin:0 auto;
		}
		#nav li { 
			position:relative;
			width:222px;
			height: 33px;
			background: url(../images/nav-left.png) no-repeat right top;
			margin-bottom: 2px;
			}
		#nav li:hover,
		#nav li.current { 
			background: url(../images/nav-left.png) no-repeat right -33px;
			}
			#nav li a{ 
				float:left; 
				width:201px;
				height: 28px; 
				background:none; 
				font-family: Georgia, "Times New Roman", Times, serif;
				font-size: 18px; 
				font-weight:400;
				font-style:italic;
				line-height:20px;
				color: #ffffff;
				text-decoration:none;
				padding:5px 0 0 21px; 
				}
			#nav li a:hover,
			#nav li.current a { 
				background: url(../images/icon_left_menu.png) no-repeat;
				color: #f07c00;
				text-decoration:none;
				}
			#nav li ul { 
				position:absolute; 
				left:100%; 
				top:2px;
				background:#ffffff;
				display: none;
				-webkit-box-shadow: 2px 2px 2px 0px #8d887f;
				-moz-box-shadow: 2px 2px 2px 0px #8d887f;
				box-shadow: 2px 2px 2px 0px #8d887f; 
				-webkit-border-radius:0px 5px 5px 5px;
				-moz-border-radius:0px 5px 5px 5px;
				border-radius: 0px 5px 5px 5px;
				padding:14px; 
				z-index:5000;
				}
			#nav li:hover ul { 
				display: block;
				}
				#nav li ul li{ 
					float:left; 
					width:100%;
					height:auto; 
					background: none;
					margin-top: 10px;
					margin-bottom: 0px;
					}
					#nav li ul li:first-child { 
						margin-top: 0px;
						}
				#nav li ul li:hover,
				#nav li ul li.current { 
					background: none;
					}
					#nav li ul li a,
					#nav li:hover ul li a,
					#nav li.current ul li a { 
						float:left;
						width:auto;
						height:auto; 
						background: none;
						font-family: Verdana, Arial, Helvetica, sans-serif;
						font-size: 12px; 
						font-weight:400;
						font-style: normal;
						line-height:1;
						color: #5d6569;
						text-decoration: underline;
						white-space:nowrap;
						margin:0; 
						padding:0px;
						}
						#nav li ul li a:hover { 
							color: #f07c00;
							text-decoration: underline;
							}
							
/* --------------------------------------------------------------------------------------  3.2.2    ContRight  Main  */

/* -------------------------------------------------------------------    banner  */
#banner {
	width: 750px;
	height: 110px;
    margin:20px 0 40px 15px;
    padding: 0 0 0 0;
    position:relative;
    z-index:0;
    background:url(../images/banner.jpg) no-repeat left top;
	}
	ul.banner {
		width: 100%; 
		overflow:hidden;
		}
		ul.banner li { 
			float: left;
			margin-left:3px;
			}
		ul.banner li:first-child {margin-left:0px;}
		
			ul.banner li a {
				float: left; 
				position:relative; 
				background:#f7f5f2; 
				width: 217px;
				height:86px;
				border:1px solid #e7e1d3; 
				padding:8px;
				}
			ul.banner li a:hover {border:1px solid #f08100; }
			
.corners {
	position: absolute; 
	width: 5px;
	height:5px;
	background:url(../images/corners.png) no-repeat left top;
	}			
	.corners.lt { background-position: -5px -5px; left:8px; top:8px; }				
	.corners.rt { background-position: 0px -5px;  right:8px; top:8px;}				
	.corners.lb { background-position: -5px 0px;  left:8px; bottom:8px;}				
	.corners.rb { background-position: 0px 0px;  right:8px; bottom:8px;}	
	
	
/* -----------------------------------------------------------------    table.product  */
table.product {
	float: right;
	width: 710px;
	background-color: #FFFFFF;
	margin:0 0 40px; 
	}
	table.product td {
		vertical-align:top;
		}
table.product.center {
	float: none;
	margin:0 auto 40px;
	}
	table.product h3 {
		color: #999286; 
		padding:8px 9px 0;
		}
		table.product h3 a {
			color: #999286; 
			text-decoration:underline;
			}
			table.product h3 a:hover {
				color: #f07c00; 
				text-decoration:underline;
				}
	.item {
		border-left:1px dashed #e7e5e2; 
		overflow:hidden;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		color: #5d6569;
		text-align: left;
		padding:20px 9px 0;
		width:195px; 
		}
	table.product tr td:first-child .item {
		border-left: none;
		}
		.item .name {
			height: 56px;
			display:block;
			overflow:hidden;
			font-size: 11px;
			text-decoration: underline;
			margin-top: 10px;
			}
		.item .arc {
			float: left;
			width: 50px;
			font-size: 11px;
			color: #5d6569;
			margin-top: 10px;
			}
		.item .price {
			float: right;
			width: 140px;
			font-family: Georgia, "Times New Roman", Times, serif;
			text-align: right;
			font-size: 18px;
			font-style: italic;
			color: #5d6569;
			margin-top: 10px;
			}
		.item a { 
			display:block;
			color: #5d6569;
			text-decoration: none;
			}
		.item a:hover { 
			color: #f07c00;
			text-decoration: none;
			}

/* -------------------------------------------------------------------------    product   card  */
.gallery{ 
	position: relative;
	width: 100%; 
	height:350px;
	}
	.gallery .icon_lens{ 
		position: absolute; 
		bottom:18px; 
		right:10px; 
		z-index:1000;
		}
	
	
table.specification { 
	width: 100%;
	}
	table.specification td {
		background:#efece7; 
		border-top:3px solid #ffffff;
		padding:7px 8px 6px 8px;
		}
		table.specification td:first-child {
			border-right:3px solid #ffffff;
			}

.raiting {
	float: left;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	margin:10px 0 20px;
	}
	.raiting .stars {
		float: left;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		}
	.raiting .art { 
		float: right;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		}

.block img { padding-right:6px;}


/* -------------------------------------------------------------------------    unit tabs   ( comments )  */
#unit_tabs { 
	padding:0;
	}
ul.unit_tabs_label { 
	height:27px; 
	overflow:hidden;
	padding:0 20px;
	}
	ul.unit_tabs_label li { 
		display:inline; 
		}
		ul.unit_tabs_label li a { 
			float:left;
			font-family: Georgia, "Times New Roman", Times, serif;
			font-size:18px; 
			font-weight:400; 
			font-style:italic; 
			line-height:20px; 
			color:#a79c8b; 
			text-decoration:none;
			margin-left:-15px;  
			}
		ul.unit_tabs_label li:first-child a { margin-left:0px; }
		
			ul.unit_tabs_label li a span.inner { 
				float:left; 
				position: relative;	 
				cursor:pointer;
				z-index:1; 
				}
				ul.unit_tabs_label li a span.center { 
					float:left; 
					background: #efece7;
					border-top:1px solid #e7e1d3;
					border-bottom:1px solid #e7e1d3;
					cursor:pointer;
					padding:2px 0px 3px; 
					}
				ul.unit_tabs_label li a span.left,
				ul.unit_tabs_label li a span.right { 
					float:left;
					height:26px;  
					width:30px;
					background: url(../images/unit_tab.png) no-repeat left top;
					border-bottom:1px solid #e7e1d3;
					cursor:pointer;
					}
				ul.unit_tabs_label li a span.right { background-position: -30px top; }
		
		ul.unit_tabs_label li a.current {
			border-bottom:1px solid #ffffff;
			}
			ul.unit_tabs_label li a.current span.inner { 
				z-index:100;
				}
				ul.unit_tabs_label li a.current span.center { 
					background: #ffffff ;
					border-bottom:1px solid #ffffff;
					}
				ul.unit_tabs_label li a.current span.left { 
					background: url(../images/unit_tab.png) no-repeat left -26px;
					border-bottom:1px solid #ffffff;
					}
				ul.unit_tabs_label li a.current span.right { 
					background: url(../images/unit_tab.png) no-repeat -30px -26px;
					border-bottom:1px solid #ffffff;
					}			
						
		ul.unit_tabs_label li a:hover { 
			color:#f07c00; 
			text-decoration:none;   
			}
		ul.unit_tabs_label li a.current:hover { color:#a79c8b; }


	.unit_tabs_content { 
		position: relative;						
		padding:0 20px ; 
		z-index:10; 
		}
		.unit_tabs_content div.page { 
			position: relative;  									
			display:none; 
			}
			ul.comment_list{
				width: 100%;
				}
				ul.comment_list li{
					width: 100%;
					margin-top:30px; 
					}
					ul.comment_list li .avatar {
						float:left; 
						margin:5px 10px 0 0; 
						}
					ul.comment_list li .comment { 
						width: 570px;
						overflow:hidden;
						margin-left:80px; 
						}

/* ---------------------------------------------------------------------------    catalog  */
.catalog {
	width:525px;
	margin-right:180px; 
	}
	.catalog table.product {
		float:left;
		width: 525px;
		margin-bottom:0px;
		}
		.catalog table.product tr td .item {
			border-left: none;
			border-right:1px dashed #e7e5e2; 
			}
.set_filter {
	float: right;
	width:160px;
	padding:10px 0 0 0; 
	display: none;
	}
	.set_filter h2 {
		background: url(../images/header_icon.png) no-repeat -27px -181px;
		cursor:pointer;
		padding-left:22px; 
		margin-bottom:15px; 
		}
	.set_filter h2:hover,
	.set_filter h2.current {
		background: url(../images/header_icon.png) no-repeat -27px -357px;
		color:#f07c00; 
		}
	.set_filter ul {
		/*display: none;*/
		padding:0 0 22px 24px;
		}
		.set_filter ul li {
			margin-bottom:11px; 
			} 
			.set_filter ul li a {
				font-size:11px; 
				font-weight:400; 
				line-height:12px; 
				color:#676767; 
				text-decoration:underline;  
				}
				.set_filter ul li label:hover,
				.set_filter ul li a:hover,
				.set_filter ul li a.current,
				ul.sorting li a:hover,
				ul.sorting li a.current {
					color:#f07c00; 
					text-decoration: none;  
					}
			.set_filter ul li .more {
				width:25px; 
				height:25px;
				background: url(../images/header_icon.png) no-repeat 5px -227px; 
				display: block; 
				cursor:pointer;
				margin:0 45px; 
				}
				.set_filter ul li span.more:hover { background: url(../images/header_icon.png) no-repeat 5px -249px;}

ul.sorting {
	margin:10px 0;
	}
	ul.sorting li { 
		display:inline;
		margin:0 0 0 17px;
		}
	ul.sorting li:first-child {	margin:0;}

		ul.sorting li,
		ul.sorting li a { 
			background:none; 
			font-size:12px; 
			font-weight:400; 
			line-height:14px; 
			color:#666666; 
			text-decoration:underline; 
			}
		ul.sorting.arrow li a {
			background: url(../images/header_icon.png) no-repeat -25px -135px;
			padding-left:17px;
			}
		ul.sorting.arrow li:first-child a { padding-left:0px;}
		ul.sorting li { text-decoration: none; }
		
			ul.sorting.arrow li a:hover,
			ul.sorting.arrow li a.current {	background: url(../images/header_icon.png) no-repeat 0px -163px; }
		
		ul.sorting.connectbtn li a {
			display: inline-block; 
			line-height:20px;
			vertical-align:top; 
			}


/* ---------------------------------------------------------------------------    pagination  */
.page_numbers { 
	float:left;
	position: relative;
	width: 100%;
	}
.page_numbers:after{
	content: '';
	display: block;
	clear: both;
	}
	.align_center_to_left {
		position: relative;
		right: 50%;
		float: right;
		}
	.align_center_to_right {
		position: relative;
		z-index: 1;
		right: -50%;
		}
		.page_numbers .pagination {
			float:left;
			margin:45px 0;
			}
			.page_numbers .pagination span,
			.page_numbers .pagination em,
			.page_numbers .pagination a { 
				font-size:14px; 
				font-weight:400; 
				line-height:20px; 
				color:#5d6569; 
				vertical-align:top
				}
			.page_numbers .pagination span.gap {  
				font-size:16px;
				font-weight:600; 
				margin:0 7px;
				}
				.page_numbers .pagination a { 
					text-decoration:underline; 
					padding:0 3px;
					}
					.page_numbers .pagination a:hover { color:#f07c00; }
			
			.page_numbers .pagination em { 
				color:#f07c00;
				font-weight:600; 
				font-style:normal;
				text-decoration: none; 
				}
			.page_numbers .pagination .previous_page,
			.page_numbers .pagination .next_page { 
				display:inline-block;
				width:15px; 
				height:20px;
				background: url(../images/header_icon.png) no-repeat; 
				text-indent:-9000px;
				padding:0px;
				}
			.page_numbers .pagination a.previous_page { background-position:0px -182px; }
			.page_numbers .pagination span.previous_page { background-position:0px -308px; }
			.page_numbers .pagination a.next_page { background-position:-12px -182px; }
			.page_numbers .pagination span.next_page { background-position:-12px -308px; }
			
			.page_numbers .pagination a.previous_page:hover { background-position:0px -205px; }
			.page_numbers .pagination a.next_page:hover { background-position:-12px -205px; }
			
			
/* -------------------------------------------------------------------------------    table.basket  */
table.basket {
	width: 100%;
	margin:15px 0 0px;
	}
table.basket.office {
	margin:0px;
	}
	table.basket tr.border div {
		height:1px; 
		background:#e1dcd3; 
		line-height:0px;
		margin:18px 0 ;
		}
	table.basket td {
		width: 25%;
		border-left:1px dashed #e7e5e2; 
		vertical-align:top; 
		padding:0px 10px 0 10px;
		}
	table.basket td:first-child { border-left: none; }
	table.basket td.noborder { 
		height:87px;
		border-left: none; 
		}
		table.basket td a,
		table.basket td p { 
			font-size: 11px;
			color: #5d6569;
			line-height:14px;
			}
		table.basket td a.fl_left { margin-bottom:8px; }
		table.basket td p { 
			float:left;
			width:100%;
			margin-bottom:4px;}
		table.basket td a:hover { color: #f07c00; }
		
		table.basket td.img_product { 
			padding:0px 0 0 7px; 
			}
			table.basket td.img_product a,
			table.basket td.img_product img { 
				border:1px solid #ffffff; 
				display: inline-block;
				}
				table.basket td.img_product a:hover { border:1px solid #f07c00; }
				
		table.basket td .specific_name { 
			float:left; 
			width:83px;
			display: inline-block; 
			}
		table.basket td .specific_value { 
			float:left;
			width:70px;
			display: inline-block; 
			overflow:hidden; 
			}
				
		table.basket td h3 { color: #5d6569; }

.ultimately {
	width:64%;
	overflow:hidden; 
	margin-left:33%;
	padding:4px 5px 0 10px;
	}
	
form.edit_order input[type="text"] { 
	width:70px; 
	height: auto !important; 
	background: none;
	border: none;
	display:block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px; 
	font-weight:400; 
	line-height:12px; 
	color:#5d6569;
	}



/* -------------------------------------------------------------------------------    office  */
.container_full_marg h3{
	color: #a79c8b;
	padding-left:10px; 
	}
.container_full_marg .profile dl,
.container_full_marg fieldset.border_brown {
	margin-bottom:20px;
	}
	
.profile dl,
table.payment {
	width:570px;
	font-size:12px; 
	font-weight:400; 
	line-height:14px; 
	color: #5d6569;
	padding:0 15px;
	}
	.profile dl dt{ 
		width:27%;
		display: inline-block; 
		vertical-align:top;
		padding:0 2% 17px 0; 
		}
	.profile dl dd{ 
		width:70%;
		display: inline-block;
		vertical-align:top;
		padding:0 0 17px 0; 
		}

table.payment {
	width:600px;
	}
	table.payment td{
		padding:0 10px 17px 0; 
		}
	table.payment td:first-child {
		width:30%;
		padding:0 2% 17px 15px; 
		}
	table.payment td:first-child+td { white-space:nowrap; }
	table.payment td:first-child+td+td+td {
		text-align:right;
		padding-right:15px; 
		}


/* -------------------------------------------------------------------------------------------------------    3.2.3    Forms   */

/* ---------------------------------------------------------------------------    authorization  */
fieldset.form_authorization { 
	width:100%;
	}
	fieldset.form_authorization .border_brown { margin-bottom:25px; }
	
	fieldset.form_authorization .form_row { padding-bottom:19px; }
	fieldset.form_authorization .form_row.bottom_40 { padding-bottom:40px; }
	fieldset.form_authorization .form_row.error_mess {
		display: none; 
		margin-top:-15px; 
		}
		.row_wrapper { 
			width:58%; 
			background: none;
			display:block;
			margin-left:39%; 
			}
			.row_wrapper ul li { 
				width:100%; 
				margin-bottom:13px; 
				}
		fieldset.form_authorization .form_row label { 
			float:left;
			font-size:12px; 
			font-weight:400; 
			line-height:16px; 
			color:#5d6569;
			margin:0 3px 0 50px;
			}
			fieldset.form_authorization .form_row.error_mess label,
			fieldset.form_authorization .form_row label sup { color:#f07c00; }
			fieldset.form_authorization .form_row input[type="radio"]+label,
			fieldset.form_authorization .form_row input[type="checkbox"]+label { 
				float: none;
				display: inline;
				vertical-align: bottom;
				margin-left:0; 
				}
				
		fieldset.form_authorization .form_row input[type="text"],
		fieldset.form_authorization .form_row input[type="number"],
		fieldset.form_authorization .form_row input[type="password"],
		fieldset.form_authorization .form_row input[type="email"],
		fieldset.form_authorization .form_row select,
		fieldset.form_productcard .form_row select { 
			width:50%; 
			height: auto !important; 
			background: #efece7;
			-webkit-box-shadow: inset 0px 1px 1px 0px #b3b2af;
			-moz-box-shadow: inset 0px 1px 1px 0px #b3b2af;
			box-shadow: inset 0px 1px 1px 0px #b3b2af; 
			border:1px solid #ffffff;
			-webkit-border-radius:4px;
			-moz-border-radius:4px;
			border-radius:4px;
			display:block;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size:12px; 
			font-weight:400; 
			line-height:12px; 
			color:#5d6569;
			padding:4px 5px; 
			margin-left:39%; 
			}
		fieldset.form_authorization .form_row input.number { 
			width:21%;
			display: inline-block;
			text-align:center;
			margin:0 10px 0 0; 
			}
		fieldset.form_authorization .form_row select { 
/* 			width:33%; */
			display: inline-block;
/* 			margin:0 10px 0 0;  */
			}
		fieldset.form_authorization .form_row select:focus,
		fieldset.form_authorization .form_row input:focus { border:1px solid #2195d8; }
		fieldset.form_authorization .form_row.error select,
		fieldset.form_authorization .form_row.error input { border:1px solid #f07c00; }

		fieldset.form_authorization .form_row input[type="checkbox"] { margin:0 7px 0 50px; } 
		fieldset.form_authorization .form_row .row_wrapper input[type="checkbox"] { margin:0 7px 0 0px; } 

		fieldset.form_authorization .submit_button_beig { 
			float:right; 
			margin:0px; 
			}
		fieldset.form_authorization a.defolt.password {
			float: left;
			margin:8px 30px 8px 250px;
			}
		fieldset.form_authorization a.defolt.password+.submit_button_beig { float: left; }

		/*fieldset.form_authorization #bcountry { 
			width:50%;
			display:block;
			margin-left:39%; 
			} 
			fieldset.form_authorization #bcountry select { 
				width:95%;
				} */




/* ---------------------------------------------------------------------------    product  card  */
fieldset.form_productcard { 
	width:100%;
	margin-bottom:50px;
	}
	fieldset.form_productcard .form_row { 
		float:left;
		position:relative; 
		width:100%; 
		display:block;
		padding-top:15px;
		}
		fieldset.form_productcard .form_row label { 
			float:left;
			width:120px; 
			font-size:12px; 
			font-weight:400; 
			line-height:20px; 
			color:#5d6569; 
			}
		fieldset.form_productcard .form_row .icon_question {
			position: absolute; 
			top:19px; 
			left:92%; 
			}
		fieldset.form_productcard .form_row input[type="submit"] { 
			float:left;
			height:49px;
			width: 182px;
			background: url(../images/button.png) no-repeat left top;
			border: none; 
			cursor:pointer;
			display:block; 
			overflow:visible;
			font-family: Georgia, "Times New Roman", Times, serif;
			font-size:18px; 
			font-weight:400; 
			font-style:italic;  
			line-height:49px; 
			color:#efece7; 
			text-align:center;  
			margin:0 40px 0 0;
			}
			fieldset.form_productcard .form_row input[type="submit"]:hover { 
				color:#f5d2d2; 
				}
		a.submit_button { 
			float:left;
			border-bottom:1px dashed #2a6b9e; 
			font-family: Georgia, "Times New Roman", Times, serif;
			font-size:12px;
			line-height:18px;
			font-style:italic;
			font-weight:600; 
			color:#2a6b9e; 
			text-decoration:none;
			margin-top:15px; 
			}	
			a.submit_button:hover { 
				border-bottom:1px solid #f07b00; 
				color:#f07b00;
				text-decoration:none;   
				}	

/* ---------------------------------------------------------------------------    form  comment  */
fieldset.form_comment { 
	width:100%;
	margin-top:15px;
	}
	fieldset.form_comment textarea { 
		width:97%; 
		min-height:90px; 
		background: #efece7;
		border-left:1px solid #d9d6d2;
		border-right:1px solid #d9d6d2;
		border-top:2px solid #adaba8;
		border-bottom:1px solid #eae7e1;
		display:block;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size:12px; 
		font-weight:400; 
		line-height:16px; 
		color: #5d6569;
		resize:vertical; 
		padding:5px; 
		}
	.submit_button_beig,
	fieldset.form_comment input[type="submit"] { 
		float: right;
		background: #e2ded7; 
		background: -moz-linear-gradient(top, #f3f0ea 0%, #cbc5bb 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f0ea), color-stop(100%,#cbc5bb)); 
		background: -webkit-linear-gradient(top, #f3f0ea 0%,#cbc5bb 100%); 
		background: -o-linear-gradient(top, #f3f0ea 0%,#cbc5bb 100%); 
		background: -ms-linear-gradient(top, #f3f0ea 0%,#cbc5bb 100%); 
		background: linear-gradient(top, #f3f0ea 0%,#cbc5bb 100%); 
		border: none;
		border-top:1px solid #dddbd5;
		cursor:pointer;
		display:block; 
		overflow:visible;
		-webkit-border-radius:16px;
		-moz-border-radius:16px;
		border-radius:16px;
		-webkit-box-shadow: 0px -1px 0px 0px #b2afab;
		-moz-box-shadow: 0px -1px 0px 0px #b2afab;
		box-shadow: 0px -1px 0px 0px #b2afab; 
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size:12px; 
		font-weight:400; 
		color: #5d6569; 
		text-decoration:none;
		text-shadow: 0px 1px 0px #e8e4de;
		padding:4px 19px 7px; 
		margin:15px 0 0 0;
		}
		input.submit_button_beig { 
			padding:3px 19px 6px; 
			}
		.submit_button_beig:hover,
		fieldset.form_comment input[type="submit"]:hover {color:#f07b00;}
		

/* ---------------------------------------------------------------------------    form  filter  */
input[type="checkbox"],
input[type="radio"] { 
	width: 14px; 
	height:14px;
	background: none;
	border: none;
	display: inline; 
	vertical-align: bottom;
	margin:0 7px 0 0; 
	}
	input[type="checkbox"] + label { 
		font-size:11px; 
		font-weight:400; 
		line-height:14px; 
		color:#676767;  
		display: inline;
		vertical-align: bottom; 
		}


/* -----------------------------------------------------------------------------------------------   3.2.4    Some  containers  */

.container_full { 
	width:700px; 
	background:#ffffff; 
	padding:10px 15px 20px 10px;
	}
.container_full_marg { 
	width:600px; 
	background:#ffffff; 
	padding:22px 60px 45px 65px;
	}	
.container_half { 
	float: right;
	width:345px; 
	background:#ffffff;
	}
.container_half_marg { 
	float:left;
	width:315px; 
	background:#ffffff; 
	}


	
	
	
	
	

/* ============================================================================================================================= */
/*   Footer   */                                     /*  3.3   FOOTER    */                            			/*   Footer   */
/* ============================================================================================================================= */

.line-footer {
	width: 100%;
	height: 38px;
	background: url(../images/main_menu.png) repeat-x;
	border-bottom:1px solid #015f97;
	}
.footer {
	width: 980px;
	overflow:hidden;
	margin: 0 auto;
	}
	#LeftFooter {
		float: left;
		width: 640px;
		margin-top: 20px;
		}
		.footer .footerName {
			float: left;
			width: 640px;
			clear: both;
			}
			.footerName .left,
			.footerName .center {
				float: left;
				width: 216px;
				margin-right: 30px;
				}
			.footerName .right {
				float: left;
				width: 140px;
				}
				.footerName h3 { 
					border-bottom:1px solid #0f5a85;
					text-shadow: 0px 1px 1px #023e61;
					filter: dropshadow(color=#023e61, offx=0, offy=1); 
					padding-bottom: 4px;
					}
				.footerName p {
					clear:both;
					padding-top: 10px;
					}
				.footerName h3+p {
					border-top:1px solid #3383b1;	
					}
				.footerName a {
					font-family: Verdana, Arial, Helvetica, sans-serif;
					font-size: 12px;
					text-decoration: underline;
					color: #efece7;
					}
					.footerName a:hover {
						text-decoration: underline;
						color: #58b0e3;
						}
					
			.footerName .plateg {
				width: 635px;
				clear: both;
				padding-top: 50px;
				}
				.footerName .plateg ul {
					width: 100%;
					border-top:1px solid #3383b1;
					padding-top: 15px;
					}
					.footerName .plateg ul li { display:inline;
					padding-top: 15px;
					}
	#RightFooter {
		float: left;
		width: 290px;
		margin-top: 20px;
		margin-left: 32px;
		}
		#RightFooter #vkontakte {
			height: 292px;
			width: 290px;
			}
		#RightFooter #facebook {
			height: 400px;
			width: 290px;
			margin-top: 18px;
			}

/* ============================================================================================================================= */
/*  Global   Properties */               /*   4.  GLOBAL PROPERTIES   */                               /*   Global   Properties */
/* ============================================================================================================================= */

.wrapper_in {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
	}
.warning { 
	float:left;
	width:90%;
	font-size:11px; 
	color:#2092d3;
	margin:-5px 0 5px 10px;
	}	
.article {
	width:100%;
	padding:23px 0;
	}
	.article p {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px; 
		line-height:18px;
		color: #5d6569;
		text-align: justify;
		}
	
.drop_box { 
	position:absolute; 
	top:100%; 
	left:-40px; 
	display: none;
	z-index:1000;
	}
	.drop_box_wrapper { 
		float:left; 
		background:#f9f8f5;
		-webkit-box-shadow: 0px 1px 3px 0px #8d887f;
		-moz-box-shadow: 0px 1px 3px 0px #8d887f;
		box-shadow: 0px 1px 3px 0px #8d887f; 
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px; 
		padding:10px;
		margin:12px 0 0 0;
		}
		.drop_box .drop_arrow {  
			width:17px;
			height:10px; 
			background: url(../images/header_icon.png) no-repeat left top;
			display:block;
			margin:-20px 0 10px 40px;
			}
			
.tooltip_init{ 
	cursor:pointer;
	}
	.tooltip {
		position: absolute;
		bottom:25px;
  		left:-48px;
		width:210px;
		background:#f9f8f5;
		display:none;
		-webkit-box-shadow: 0px 1px 3px 0px #8d887f;
		-moz-box-shadow: 0px 1px 3px 0px #8d887f;
		box-shadow: 0px 1px 3px 0px #8d887f; 
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px; 
		padding:10px;
		z-index: 999;
		}
		.tooltip .drop_arrow {  
			position:absolute; 
			top:100%; 
			left:25px; 
			width:230px;
			height:10px; 
			background: url(../images/header_icon.png) no-repeat left -155px;
			display:block;
			}
		.tooltip .defolt {font-size:11px;}





.price_old {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px; 
	font-weight:600;
	color:#4f5459; 
	font-style: italic; 
	text-decoration:line-through;
	margin-left: 12px;
	}
.price_new {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px; 
	font-weight:600;
	color:#cc0000; 
	font-style: italic; 
	margin-left: 12px;
	}

ul.dash_style { 
	width:100%;
	list-style-type: none;
	padding:10px 0 0;
	}
	ul.dash_style li { 
		margin:0 0 12px 50px;
		}
		ul.dash_style > li:before { content: '\2014\a0'; }


a.defolt {  
	font-size:12px;
	color:#4f5459; 
	white-space:nowrap;
	text-decoration: underline;
	}
	a.defolt:hover {  
		color:#f07b00; 
		text-decoration: underlinee;
		}
a.dashed {
	float:right; 
	border-bottom:1px dashed #666666;  
	font-size:11px; 
	line-height:13px;
	color:#666666; 
	white-space:nowrap;
	text-decoration: none;
	margin:-15px 20px 0;
	}
	a.dashed:hover {  
		border-bottom:1px solid #f07b00;  
		color:#f07b00; 
		text-decoration: none;
		}
a.href_navigation { 
	width:30%;  
	display:block;
	font-size:18px;
	color:#4f5459; 
	text-decoration: none;
	}
	a.href_navigation:hover {  
		color:#f07b00; 
		text-decoration: none;
		}
		a.href_navigation span {  
			display: inline; 
			font-size:12px; 
			text-decoration: underline;
			}
		a.href_navigation.fl_left.left_10 span { font-size:11px; }
		a.href_navigation:hover span {  
			color:#f07b00; 
			text-decoration: underlinee;
			}
		
a,
a.href_navigation span,
input[type="submit"],
li:hover label { 
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out; 
	}
.pagination li a,
.slides_container a,
.social a,
.page_numbers .pagination a.previous_page,
.page_numbers .pagination a.next_page,
ul.sorting.arrow li a,
#nav li a,
#gallery a { 
	-webkit-transition: none;
	-moz-transition: none;
	transition: none; 
	}	

/* ----------------------------------------------------------------------------------------------------------    4.1  Icons & Decor */

.icon_1 { background: url(../images/icon_1.png) no-repeat 6px center !important;}
.icon_2 { background: url(../images/icon_2.png) no-repeat 6px center !important;}
.icon_3 { background: url(../images/icon_4.png) no-repeat 6px center !important;}
.icon_4 { background: url(../images/icon_5.png) no-repeat 6px center !important;}
.icon_5 { background: url(../images/icon_8.png) no-repeat 6px center !important;}
.icon_6 { background: url(../images/icon_3.png) no-repeat 6px center !important;}
.icon_7 { background: url(../images/icon_9.png) no-repeat 6px center !important;}
.icon_8 { background: url(../images/icon_6.png) no-repeat 0px center !important;}
.icon_9 { background: url(../images/icon_7.png) no-repeat 7px center !important;}

.icon_lens { 
	width:30px; 
	height:30px;
	background: url(../images/header_icon.png) no-repeat left -105px;
	}
.icon_question { 
	width:15px; 
	height:17px;
	background: url(../images/header_icon.png) no-repeat left -135px;
	}
.icon_fb_btn,
ul.sorting.connectbtn li a.icon_fb_btn { 
	width:46px; 
	height:22px;
	background: url(../images/social_button.png) no-repeat left top;
	}
.icon_vk_btn,
ul.sorting.connectbtn li a.icon_vk_btn { 
	width:40px; 
	height:22px;
	background: url(../images/social_button.png) no-repeat -50px top;
	}
.icon_sh_btn,
ul.sorting.connectbtn li a.icon_sh_btn{ 
	width:32px; 
	height:22px;
	background: url(../images/social_button.png) no-repeat -155px top;
	}
.icon_tw_btn,
ul.sorting.connectbtn li a.icon_tw_btn { 
	width:55px; 
	height:22px;
	background: url(../images/social_button.png) no-repeat -95px top;
	}



.border_brown {
	border-bottom:1px solid #e0dad1; 
	padding-bottom:2px;
	margin-bottom:10px;
	}
.container_full_marg .border_brown {
	margin-bottom:13px;
	}	
	

/* ---------------------------------------------------------------------------------------------------      4.2    Text  Styles  */
h1, h2, h3, h4 { 
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-style: italic;
	font-weight:400;}
h1 { 
	float:left; 
	font-size: 19px; 
	line-height:22px;
	color: #0c6091;
	text-shadow: 0px 1px 0px #ffffff;
	}
h2 { 
	font-size: 14px; 
	font-weight:600;
	line-height:16px;
	color: #676767;
	}
h3 { 
	line-height:22px;
	color: #efece7;
	}
	h3 span{ 
		font-size: 13px;
		font-weight:600;
		color: #d8d1c7;
		margin:0 13px;
		}
	.footerName h3 span{ 
		font-size: 18px;
		font-weight:400;
		color: #efece7;
		}
h4 {
	color: #2a6b9e;
	text-decoration: none;
	line-height: normal;
	}
h5 { 
	display:inline-block;
	font-size: 12px;
	color: #5d6569;
	line-height:14px;
	font-weight: 600; 
	text-decoration:underline;
	}
h6 {
	font-size: 11px;
	color: #5d6569;
	line-height:14px;
	font-weight: 400;
	}

.white 	{ color: #ffffff; }
.beige 	{ color: #999286; }
.brown 	{ color: #a79c8b; }
.red 	{ color: #cc0000; }
.orang 	{ color: #f07c00; }

/* --------------------------------------------------------------------------------------------    4.3   Some  Styles  &  Grid */

.fl_left 	{ float:left;   }
.fl_right 	{ float:right;  }
.relative 	{ position:relative; }
.full 		{ width: 100%; }
.block	 	{ display:inline-block;  }
.right_txt 	{ text-align:right;  }
.center		{ margin:0 auto;}
.clear 		{ height:0px; clear:both; display:block; }


.top-m_15 		{ margin-top:15px;}						.bottom-m_15 	{ margin-bottom:15px;}
.top_40 		{ padding-top:40px;}					.bottom_10 		{ padding-bottom:10px;}
.top_10 		{ padding-top:10px;}					.bottom_40 		{ padding-bottom:40px;}
.top-m_70 		{ margin-top:70px;}	

.right-m_30 	{ margin-right:30px;}					.left-m_30 		{ margin-left:30px;}
.right-m_50 	{ margin-right:50px;}					.left-m_40 		{ margin-left:40px;}
														.left_10 		{ padding-left:10px;}
														.left_20 		{ padding-left:20px;}

/* ============================================================================================================================= */
/* CSS  Project   Specific  */                                                                    /* CSS   Project   Specific  */
/* ============================================================================================================================= */

.order_bottom_links{
  margin-top: 55px;
}
.share_buttons
{
  margin-top:30px;
  width:100%;
}

h3
{
  margin-bottom:20px;
}

span.original
{
  text-decoration:line-through;
  display:block;
}

#ContRigh ul.sorting.connectbtn li
{
  margin-left:10px;
  display:inline;
}

#linkimg1
{
position:relative;
width:230px;
height:100px;
z-index:1;
display:inline;
padding:0 0 0 0;
margin:0 0 0 0;
}

#linkimg2
{
position:relative;
width:230px;
height:100px;
z-index:1;
display:inline;
padding:0 0 0 0;
margin:0 0 0 0;
}

#linkimg3
{
position:relative;
width:230px;
height:100px;
z-index:1;
display:inline;
padding:0 0 0 0;
margin:0 0 0 0;
}

#linkimg4
{
position:relative;
width:75px;
height:20px;
z-index:1;
display:inline;
padding:0 0 0 0;
margin:0 0 0 0;
}

#linkimg5
{
position:relative;
width:47px;
height:20px;
z-index:1;
display:inline;
padding:0 0 0 0;
margin:0 0 0 0;
}

#linkimg6
{
position:relative;
width:65px;
height:20px;
z-index:1;
display:inline;
padding:0 0 0 0;
margin:0 0 0 0;
}

#linkimg1 img, #linkimg2 img, #linkimg3 img,
{
padding:0 0 0 0;
margin:0 0 0 0;
}

#linkimg4 img, #linkimg5 img, #linkimg6 img
{
margin:0 0 0 0;
}

#menudop {
width: 243px;
height: 20 px;
padding: 5px 0 0 25px;
}

.edit_order fieldset
{
margin:20px 10px 20px 10px;
}

.box li.phone {
background: url(../images/phone.png) no-repeat;
float: left;
height: 116px;
width: 243px;
margin: 0 30px 0 33px;
padding: 0;
color: #ffffff;
font-size: 24px;
}

.fnumber {
padding-left:30px;
padding-top:45px;
}

#facebook {
background-color: #FFFFFF;
width:290px;
}

.notify.error, .notify.alert, .notify.notice, .notify.success, .notify.info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.notify.success, .notify.notice, .notify.info {background:#e6efc2;color:#264409;border-color:#c6d880;}
.notify.error, .notify.alert {background:#e6efc2;color:red;border-color:#c6d880;}

.bonus {
width:214px;
height:62px;
padding-top:0px;
}

.imgbonus {
width:199px;
height:62px;
border:1px;
border-color:#fff;
}

.maintext {
margin:10px;
}

	.maintext p {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px; 
		line-height:18px;
		color: #5d6569;
		text-align: justify;
		margin-bottom:10px;
		}

	.maintext h1 {
		 margin-bottom:10px;
		}

#mybreadcrumbs div.breadcrumbs, #mybreadcrumbs div.breadcrumbs ul, #mybreadcrumbs div.breadcrumbs ul li, 
#mybreadcrumbs1 div.breadcrumbs, #mybreadcrumbs1 div.breadcrumbs ul, #mybreadcrumbs1 div.breadcrumbs ul li {
		 display:inline;
		}

#mybreadcrumbs1 #mybreadcrumbs1 div.breadcrumbs br, #mybreadcrumbs div.breadcrumbs br {
		 display:none;
		}
#mybreadcrumbs, #mybreadcrumbs1 {
		 margin-bottom:10px;
		}

