
/* ========================================     Slideshow      ==================================================== */

#windows {
	width:528px;
	position:relative;
	z-index:0;
	margin: 0 auto;
	padding-right: 17px;
}
#example {
	width:721px;
	height:248px;
	position:relative;
}
#frame {
	position:absolute;
	width:721px;
	height:248px;
	top:-3px;
	left:-80px;
	z-index: 0;
}
/*	Slideshow */
#slides {
	position:absolute;
	top:6px;
	left:-65px;
	z-index: 100;
}
/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/
.slides_container {
	width:692px;
	overflow:hidden;
	position:relative;
	display:none;
}
/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/
.slides_container a {
	width:692px;
	height:229px;
	display:block;
}
.slides_container a img {
	display:block;
}
/*
	Next/prev buttons
*/
#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:30;
}
#slides .next {
	left:585px;
}
/*
	Pagination
*/
#slides .pagination {
	width:100px;
	background-image: url(../images/bg-dots.png);
	background-repeat: no-repeat;
	position: relative;
	bottom: 12px;
	float: right;
	display: block;
	z-index: 150;
	height: 22px;
	right: 45px;
	}
	#slides .pagination li {
		margin:5px 0px;
		list-style:none;
		float: left;
		padding-left: 6px;
		}
		#slides .pagination li a {
			display:block;
			width:12px;
			height:0;
			padding-top:12px;
			background-image:url(../images/navig.png);
			background-position:0 0;
			float:left;
			overflow:hidden;
			background-repeat: no-repeat;
			}
		#slides .pagination li.current a {
			background-position:0 -12px;
			}
