.product-gallery {
	width: 314px;
	}
  	.product-gallery .ad-image-wrapper {
		position: relative;
    	width: 100%;
    	height: 215px; 
		display:block;
		/*overflow: hidden; */
  		}
    	.product-gallery .ad-image-wrapper .ad-loader {
      		position: absolute;
      		top: 48%;
      		left: 48%;
	  		z-index: 10;
    		}
    	.product-gallery .ad-image-wrapper .ad-next {
      		position: absolute;
      		right: 0;
      		top: 0;
      		width: 0;
      		height: 100%;
      		cursor: pointer;
      		display: block;
      		z-index: 100;
    		}
    	.product-gallery .ad-image-wrapper .ad-prev {
      		position: absolute;
      		left: 0;
      		top: 0;
      		width: 0;
      		height: 100%;
      		cursor: pointer;
      		display: block;
      		z-index: 100;
    		}
    	.product-gallery .ad-image-wrapper .ad-prev, 
		.product-gallery .ad-image-wrapper .ad-next {   /* Or else IE will hide it */
      		background: url(non-existing.jpg)\9
    		}
      		.product-gallery .ad-image-wrapper .ad-prev .ad-prev-image,
			.product-gallery .ad-image-wrapper .ad-next .ad-next-image {
				position: absolute;
				top: 47%;
				left: 0;
				width: 20px;
        		height: 30px;
        		background: url(../images/header_icon.png) no-repeat left -305px;
        		display: none;
        		z-index: 101;
      			}
      		.product-gallery .ad-image-wrapper .ad-next .ad-next-image {
				right: 0;
        		left: auto;
        		background: url(../images/header_icon.png) no-repeat -20px -305px;
      			}
    	.product-gallery .ad-image-wrapper .ad-image {
      		position: absolute;
			top: 0;
      		left: 0;
      		/*overflow: hidden;*/
      		z-index: 9;
    		}
			
  	.product-gallery .ad-controls {	height: 20px; }
    	.product-gallery .ad-info { 
			float: left;
			font-size: 11px;
			}
    	.product-gallery .ad-slideshow-controls {
			float: right;
			font-size: 11px;
			padding-top: 3px;
			}
      		.product-gallery .ad-slideshow-controls .ad-slideshow-start, 
			.product-gallery .ad-slideshow-controls .ad-slideshow-stop {
        		cursor: pointer;
				padding-left: 5px;
      			}
      		.product-gallery .ad-slideshow-controls .ad-slideshow-countdown {
        		font-size: 11px;
				padding-left: 5px;
      			}
    		.product-gallery .ad-slideshow-running .ad-slideshow-start {
      			cursor: default;
      			font-style: italic;
				color: #f07c00;
    			}
				
  	.product-gallery .ad-nav {
		position: relative;
    	width: 100%;
  		}
    	.product-gallery .ad-forward, 
		.product-gallery .ad-back {
      		position: absolute;
      		top: 20px;
      		height: 30px;
      		width: 13px;			
			cursor: pointer;
      		display: block;
			z-index: 10;
    		}
    	.product-gallery .ad-back {
      		left: -12px;
			background: url(../images/header_icon.png) no-repeat left -275px ;
    		}
    	.product-gallery .ad-forward {
      		right: -12px;
			background: url(../images/header_icon.png) no-repeat -27px -275px; 
    		}
    	.product-gallery .ad-nav .ad-thumbs {
      		overflow: hidden;
      		width: 100%;
    		}
      		.product-gallery .ad-thumbs ul {
        		float: left;
        		width: 9000px;
      			}
        		.product-gallery .ad-thumbs li {
          			float: left;
          			padding-right: 5px;
        			}
          			.product-gallery .ad-thumbs li a {
            			display: block;
          				}
            			.product-gallery .ad-thumbs li a img {
              				border: 1px solid #ffffff;
              				display: block;
            				}
            			.product-gallery .ad-thumbs li a.ad-active img {
              				border: 1px solid #d8d2ca;
            				}
/* Can't do display none, since Opera won't load the images then */
.ad-preloads {
  	position: absolute;
  	left: -9000px;
  	top: -9000px;
	}
	
/*  
	ZOOM 
*/
a.zoomimg{
	display: block;
}
.zoomPad{
	position:relative;
	float:left;
	z-index:99;
	cursor:crosshair;
}


.zoomPreload{
   -moz-opacity:0.8;
   opacity: 0.8;
   filter: alpha(opacity = 80);
   color: #333;
   font-size: 12px;
   font-family: Tahoma;
   text-decoration: none;
   border: 1px solid #CCC;
   background-color: white;
   padding: 8px;
   text-align:center;
   background-image: url(../images/zoomloader.gif);
   background-repeat: no-repeat;
   background-position: 43px 30px;
   z-index:110;
   width:90px;
   height:43px;
   position:absolute;
   top:0px;
   left:0px;
    * width:100px;
    * height:49px;
}


.zoomPup{
	overflow:hidden;
	background-color: #FFF;
	-moz-opacity:0.6;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	z-index:120;
	position:absolute;
	border:1px solid #CCC;
  z-index:101;
  cursor:crosshair;
}

.zoomOverlay{
	position:absolute;
	left:0px;
	top:0px;
	background:#FFF;
	/*opacity:0.5;*/
	z-index:5000;
	width:100%;
	height:100%;
	display:none;
  z-index:101;
}

.zoomWindow{
	position:absolute;
	left:110%;
	top:40px;
	background:#FFF;
	-webkit-box-shadow: 1px 1px 5px 0px #8d887f;
	-moz-box-shadow: 1px 1px 5px 0px #8d887f;
	box-shadow: 1px 1px 5px 0px #8d887f; 
	z-index:6000;
	height:auto;
  	z-index:10000;
  	z-index:110;
}
.zoomWrapper{
	position:relative;
	border:1px solid #999;
  z-index:110;
}
.zoomWrapperTitle{
	display:block;
	background:#999;
	color:#FFF;
	height:18px;
	line-height:18px;
	width:100%;
  overflow:hidden;
	text-align:center;
	font-size:10px;
  position:absolute;
  top:0px;
  left:0px;
  z-index:120;
  -moz-opacity:0.6;
  opacity: 0.6;
  filter: alpha(opacity = 60);
}
.zoomWrapperImage{
	display:block;
  position:relative;
  overflow:hidden;
  z-index:110;

}
.zoomWrapperImage img{
  border:0px;
  display:block;
  position:absolute;
  z-index:101;
}

.zoomIframe{
  z-index: -1;
  filter:alpha(opacity=0);
  -moz-opacity: 0.80;
  opacity: 0.80;
  position:absolute;
  display:block;
}

/*********************************************************
/ When clicking on thumbs jqzoom will add the class
/ "zoomThumbActive" on the anchor selected
/*********************************************************/