/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.rating-cancel,
div.star-rating {
	float:left;
	width:17px;
	height:15px;
	background:transparent;
	text-indent:-999em;
	cursor:pointer;
	display:block;o
	verflow:hidden
	}
div.rating-cancel,
div.rating-cancel a {
	background-image: url(../images/star_nact.png);
	background-repeat: no-repeat;
	background-position: 0 -16px;
	}
div.star-rating,
div.star-rating a {
	background-image: url(../images/star_blu.png);
	background-repeat: no-repeat;
	background-position: 0 0px;
	}
div.rating-cancel a,
div.star-rating a {
	width:16px;
	height:100%;
	background-position:0 0px;
	border:0;
	display:block;}
div.star-rating-on a {
	background-position:0 -16px!important;
	}
div.star-rating-hover a {
	background-position:0 -32px;
	}
/* Read Only CSS */
div.star-rating-readonly a {
	cursor:default !important;
	}
/* Partial Star CSS */
div.star-rating{
	background:transparent!important;
	overflow:hidden!important;
	}
/* END jQuery.Rating Plugin CSS */
