
#thumbnails li{
    float: left;
}
.raiting{
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    margin-bottom: 20px;
    margin-top: 15px;
    width: 325px;
}

#product-variants li{
    clear: both;
}
#product-variants label{
    width: 100%;
}
#cart_form_bottom input[type=text]{
    margin-bottom: 8px;
    margin-top: 8px;
}
.page_numbers .pagination{
    float: right;
	display: block;
	height: 22px;
}
#sidebar_products_search .category{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #2a6b9e;
	font-style: italic;
}
#sidebar_products_search .filter_choices{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5d6569;
	text-decoration: none;
	font-style: normal;
}

.taxon h2 a{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 26px;
	color: #2a6b9e;
	text-decoration: none;
	line-height: normal;
	font-weight: normal;
    padding-left: 20px;
}
.taxon .product{
    margin: 5px 0 9px 0;
}
.email_to_friend{
    margin: 4px 0;
}
.social_blok div{
    float: left;
}
.vkontakte, .facebook, .twitter, .rss, .faq{
    margin-left: 3px;
    overflow: hidden;
}
.vkontakte{
    width: 100px;
}
.facebook{
    width: 80px;
}
.twitter{
    width: 100px;
}
#standart_right_box {
/* 	background-color: #FFFFFF; */
	width: 711px;
	float: left;
	padding: 10px 10px 20px 10px;
}
#subtotal{
    float: left;
    font-weight: 500;
    line-height: normal;
    margin: 6px 0;
    width: 100%;
}
#cart-detail td{
    border-bottom: 1px dotted #5d6569;
}
.links{
    float: left;
    width: 350px;
}
#clear_cart_link{
    float: right;
}
#cart-detail{
    width: 100%;
}
#checkout input[type=text], #checkout select{
    width: 400px;
}
#checkout label, .req{
    font-size: 10pt;
}
select {
	background-color: #efece7;
	height: 18px;
	border: 1px #2a6b9e solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5d6569;
    margin: 1px 0;
}
.progress-steps{
    font-size: 11pt;
    font-style: italic;
    margin: 4px 0;
}
.progress-steps li{
    float: left;
    margin-left: 50px;
}
.progress-steps .current-first, .progress-steps .current{
    color: #F67A00;
    font-weight: 700;
}
.progress-steps .completed-first a,.progress-steps .completed a{
    color: #2a6b9e;
    text-decoration: none;
}
.errorExplanation{
    color: #FF1800;
}
.errorExplanation h2{
    margin: 5px 0 0 0;
    font-size: 16pt;
    font-weight: 600;
}
.errorExplanation p{
    margin: 0;
    color: #FF1800;
    font-size: 13pt;
    text-decoration: underline;
}
.errorExplanation ul{
    font-size: 11pt;
    font-style: italic;
}
#checkout #line-items{
    text-align: center;
}
.total_info_label{
    text-align: right;
}
.total_value{
    color: #CC0000;
}
.wishlist_actions{
    font-size: 9pt;
}
.footer_links{
    margin-top: 4px;
}
.sf-sub-indicator{
    padding: 0;
    margin: 0;
}
.tab_button_leftside{
    background-image: url(/images/tab_button_leftside.png);
    background-position: left;
    background-repeat: no-repeat;
}
.arena{
    width: 670px;
}
.left{
    float: left;
}