<% @body_id = 'login' %>
<h3 class="border_brown">Личные данные</h3>
<dl class="border_brown">
  <dt><%= t("email") %>:</dt>
  <dd class="email"><%= @user.email %></dd>
</dl>
<%= link_to t('edit'), edit_account_path, :class=>'dashed' %>

<% content_for :head do %>
    <%= stylesheet_link_tag 'social.css' %>
<% end %>