<h3 class="border_brown"><%= t("store_credits") %></h3>
<p class="left_20">
<%= t('current_store_credit') %>: <strong><%= number_to_currency @user.store_credits_total %></strong>
</p>
<% if @orders_with_store_credit.present? %>
<h3><%= t('orders_with_store_credit') %></h3>
<table class="order-summary" width="545">
  <thead>
    <tr>
      <th><%= t("order_number") %></th>
      <th><%= t("order_date") %></th>
      <th><%= t("status") %></th>
      <th><%= t("customer") %></th>
      <th><%= t("total") %></th>
      <th><%= t("store_credit") %></th>
    </tr>
  </thead>
  <tbody>
  <% @orders_with_store_credit.each do |order| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td><%= link_to order.number, order_url(order) %></td>
      <td><%=order.created_at.to_date%></td>
      <td><%= t(order.state).titleize %></td>
      <td><%= order.user.email if order.user %></td>
      <td><%= number_to_currency order.total %></td>
      <td><%= number_to_currency order.store_credit_amount %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
