<div class="container_full_marg">
  <div class="profile">
    <%= hook :account_summary do %>
        <h3 class="border_brown">Личные данные</h3>
        <dl class="border_brown">
          <dt><%= t("email") %>:</dt>
          <dd class="email"><%= @user.email %></dd>
        </dl>
        <%= link_to t('edit'), edit_account_path, :class=>'dashed' %>
    <% end %>
    <%= hook :account_my_orders do %>
        <h3 class="border_brown"><%= t("my_orders") %></h3>
        <% if @orders.present? %>
            <table class="basket office">
              <thead>
              <tr>
                <th><%= t("order_number") %></th>
                <th><%= t("order_date") %></th>
                <th><%= t("status") %></th>
                <th><%= t("payment_state") %></th>
                <th><%= t("shipment_state") %></th>
                <th><%= t("total") %></th>
              </tr>
              </thead>
              <tbody>
              <% @orders.each do |order| %>
                  <tr class="<%= cycle('even', 'odd') %>">
                    <td><%= link_to order.number, order_url(order) %></td>
                    <td><%= order.created_at.to_date %></td>
                    <td><%= t(order.state).titleize %></td>
                    <td><%= t("payment_states.#{order.payment_state}") if order.payment_state %></td>
                    <td><%= t("shipment_states.#{order.shipment_state}") if order.shipment_state %></td>
                    <td><%= number_to_currency order.total %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% else %>
            <p><%= t(:you_have_no_orders_yet) %></p>
        <% end %>
        <br/>

    <% end %>
  </div>
</div>