
<% if products.empty? %>
  <h1><%= t(:no_products_found) %></h1>
<% elsif params.key?(:keywords) %>
  <h3><%= t(:search_results, :keywords => h(params[:keywords])) unless params[:keywords].blank? %></h3>
<% end %>

<table class="product">
  <tbody>
      <% products.each_with_index do |product,index|%>
        <%if index.modulo(3) == 0 %><tr><% end %>
          <td>
            <div class="item">
                <%= link_to(product) do %>
                    <%= link_to small_image(product), product %>
                    <span class="name"><%= link_to raw(product.name), product %></span>
                <% end %>
                <div class="arc"><%= product.sku %></div>
                <div class="price"><%= product_price(product) %></div>
            </div>
          </td>
        <%if index.modulo(3) == 2 || index + 1 == products.length %></tr><% end %>
      <% end %>
      <tr><td height="25px"></td></tr>
  </tbody>
</table>