<%= form_tag '', :method => :get, :id => 'sidebar_products_search' do  %>
  <% params[:search] ||= {} %>
  <input type="hidden" name="per_page" value="<%= params[:per_page] %>"/>

  <% filters = @taxon ? @taxon.applicable_filters : [ProductFilters.all_taxons] %>
   <% if !filters.include? nil %>
      <% filters.each do |filter| %>
        <% labels = filter[:labels] || filter[:conds].map {|m,c| [m,m]} %>
        <% next if labels.empty? %>

          <h2> <%= filter[:name] %> </h2>
          <ul>
            <% labels.each do |nm,val| %>
              <% label = "#{filter[:name]}_#{nm}".gsub(/ \s+/,'_') %>
              <li>
                <input type="checkbox"
                       id="<%= label %>"
                       name="search[<%= filter[:scope].to_s %>][]"
                       value="<%= val %>"
                       <%= params[:search][filter[:scope]] && params[:search][filter[:scope]].include?(val.to_s) ? 'checked="checked"' : '' %> />
                <label for="<%= label %>"> <%= nm %> </label>
              </li>
            <% end %>
          </ul>

      <% end %>
      <%= submit_tag t(:select), :class => "submit_button_beig" %>
   <% end %>
<% end %>
