    <div class="line-footer"></div>
    <div class="footer">
      <div id="contFooter">
        <div id="LeftFooter">
          <ul class="footerName">
            <li class="left">
              <h3><%= t('Bemileo') %></h3>
              <p><%= link_to t('about'), '/about' %></p>
              <p><%= link_to t('Пункты выдачи и приемки'), '/outlets' %></p>
              <p><%= link_to t('Клуб Bemileo'), '/club' %></p>
            </li>
            <li class="center">
              <h3><%= t('servise') %></h3>
              <p><%= link_to t('contact_us'), "/about" %></p>
              <p><%= link_to t('delivery_and_payment'), "/delivery" %></p>
              <p><%= link_to t('guarantee'), "/guarantee" %></p>
              <p><%= link_to t('return_policy'), "/obmen" %></p>
              <p><%= link_to t('kkk'), "/kkk" %></p>
            </li>
            <li class="right">
              <h3><%= t('magazine') %></h3>
              <p><%= link_to t('Education'), "/education" %></p>
              <p><%= link_to t('Trends'), "/trends" %></p>
              <p><%= link_to t('Style hunter'), "/style" %></p>
              <p><%= link_to t('Looks'), "/looks" %></p>
            </li>
            <li class="plateg">
              <h3><%= t('we_take') %></h3>
			  <ul>
              	<li><%= link_to image_tag('visa.gif'), '#' %></li>
              	<li><%= link_to image_tag('mastercart.jpg'), '#' %></li>
              	<li><%= link_to image_tag('webmoney.png'), '#' %></li>
              	<li><%= link_to image_tag('yandex.gif'), '#' %></li>
              	<li><%= link_to image_tag('qiwi.gif'), '#' %></li>
			  </ul>
            </li>
          </ul>
        </div>

<%= javascript_include_tag 'ajax_cart' %>

        <div id="RightFooter">
          <%= render :partial => 'shared/social_groups' %>
        </div>
       </div>
    </div>

<%= render 'shared/yandex_analytics' %>

<%= render 'shared/livetex' %>