<title><%= title %></title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<%= meta_data_tags.try(:html_safe)%>
<%= stylesheet_link_tag :all, :cache => true %>
<%= csrf_meta_tag %>
<%= javascript_include_tag 'jquery-1.6.2.min', 'jquery.validate.min.js', 'rails', 'application', :cache => 'cache/jquery-core' %>
<%= javascript_include_tag 'jquery.easing.1.3', 'slides.min.jquery',
                           'hoverIntent', 'superfish','jquery-ui-1.8.14.custom.min', :cache=>'cache/main' %>

<script type="text/javascript" src="http://vk.com/js/api/share.js?11" charset="windows-1251"></script>

  <%= ajaxful_rating_style %>
<% unless I18n.locale.to_s[0..1] == 'en' %>
  <%= javascript_include_tag ['localization/messages_', I18n.locale.to_s[0..1], '.js'].join %>
<% end %>
<meta name="google-site-verification" content="GiwTQOyvYOwSfAgNev_kfcjtgSWQUGsPAj4mMdWgnMc" />
<%= yield :head %>
