<% cache("frontend_header", :expires_in => 10.days) do %>
    <div id="header">
      <div class="header-wrap" id="header-wrap">
        <ul id="nav-one" class="dropmenu">
          <li class="deactiv"><%= t('operators_phone') %>: 89-111-222-888</li>
          <li class="deactiv2"><%= link_to t('our_benefits'), "#" %>
            <div class="drop_box">
              <!--[if IE]><span class="wrap_out"><span><span><span><![endif]-->
              <div class="drop_box_wrapper">
                <span class="drop_arrow"></span>
                <ul>
                  <% links = {
                          :free_gift_wrapping => "/free_gift_wrapping",
                          :all_goods_in_stock => "/all_goods_in_stock",
                          :cozy_outlets_and_fittings => "/cozy_outlets_and_fittings",
                          :constant_updating_of_range => "/constant_updating_of_range",
                          :the_system_of_bonuses_and_discounts => "/the_system_of_bonuses_and_discounts",
                          :convenient_and_secure_payment => "/convenient_and_secure_payment",
                          :back_guarantee => "/guarantee",
                  } %>
                  <%= header_menu_creator(links, true) %>
                </ul>
              </div>
            </div>
          </li>
          <% if current_user.nil? %>
              <li><%= link_to t('sign_registration').html_safe, login_path %>
                <div class="drop_box">
                  <!--[if IE]><span class="wrap_out"><span><span><span><![endif]-->
                  <div class="drop_box_wrapper">
                    <span class="drop_arrow"></span>
                    <%= render :partial => 'shared/login' %>
                  </div>
                </div>
              </li>
          <% else %>
              <li><%= link_to t('signout'), destroy_user_session_path %></li>
              <li><%= link_to t('user_office'), root_path + 'account' %></li>
          <% end %>
          <li>
            <%= link_to t('to_bookmarks'), "javascript:bookmark_us('http://bemileo.ru','Bemileo shop')" %>
          </li>
          <li><%= link_to t('contacts'), "/about" %></li>
          <li><a href="#">Помощь</a>

            <div class="drop_box">
              <!--[if IE]><span class="wrap_out"><span><span><span><![endif]-->
              <div class="drop_box_wrapper">
                <span class="drop_arrow"></span>
                <ul>
                  <li><a href="mailto:info@bemileo.ru">Напишите нам письмо!</a></li>
                  <li>Позвоните нам! <br>89-111-222-888<br>8981-124-17-43</li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div id="menu-box">
      <ul class="box">
        <li><%= link_to (image_tag "logo.png"), root_path %></li>
        <li class="phone">
        <div class="fnumber">
          89-111-222-888
        </div>
	<div id="menudop"> 
	<div id=linkimg4><a href="http://bemileo.ru/dresscode"><img src=http://bemileo.ru/images/trans75x20.png id=transimg></a></div>
	<div id=linkimg5><a href="http://bemileo.ru/magazine"><img src=http://bemileo.ru/images/trans47x20.png id=transimg></a></div>
	<div id=linkimg6><a href="http://bemileo.ru/t/gifts"><img src=http://bemileo.ru/images/trans65x20.png id=transimg></a></div>
	</div>
        </li>
        <li class="indicator">
          <ul>
            <li class="indicator_1"><%= t('free_gift_wrapping') %></li>
            <li class="indicator_2"><%= t('all_goods_in_stock') %></li>
            <li class="indicator_3"><%= t('constant_updating_of_range') %></li>
          </ul>
        </li>
        <li class="basket">
          <%= render :partial => 'orders/ajax_cart', :locals => {:order => current_order} %>
          <div id="wish"><b><%= t('wishes') %></b><br /><%= link_to t("wishlists"), default_wishlist_path %></div>
        </li>
      </ul>
    </div>
    <div id="middle-menu">
      <div class="header-wrap">
        <ul class="middle">
          <% links = {:delivery_and_payment => '/delivery',
                      :guarantee => '/guarantee',
                      :outlets => '/outlets'
          } %>
          <%= header_menu_creator(links) %>
        </ul>
        <ul class="social">
          <li><a href="https://twitter.com/#!/BemileoRu" title="Мы в Facebook" class="twitter"></a></li>
          <li><a href="http://www.facebook.com/pages/Bemileoru/298135576893680" title="Мы в Facebook" class="facebook"></a></li>
          <li><a href="/rss" title="Новости" class="rss"></a></li>
          <li><a href="/help" title="Помощь" class="faq"></a></li>
        </ul>
      </div>
    </div>
    <div id="header-down">
      <div class="header-wrap">
        <ul class="menu-down">
          <% links = {:presents => '/t/gifts',
                      :day_offer => '/t/skidki/predlozenie',
                      :magazine => '/magazine',
                      :vygoda => '/t/skidki/vygoda',
                      :valentine => '/t/valentine'
          } %>
          <%= header_menu_creator(links) %>
        </ul>
      </div>
    </div>
<% end %>
