<%
    @taxon_sale = Taxon.find_by_permalink('skidki')
    @sale = @taxon_sale.products.first rescue @products.sample
    @sale ||= @products.sample
    @taxon_popu = Taxon.find_by_permalink('popular')
    @popu = @taxon_popu.products.first rescue @products.sample
    @popu ||= @products.sample
    @taxon_novelty = Taxon.find_by_permalink('novinki')
    @novelty = @taxon_novelty.products.first rescue @products.sample
    @novelty ||= @products.sample
%>
<table class="product">
  <tbody>
  <tr>
    <td>
      <h3>
        <% if !@taxon_novelty.nil? %>
            <%= link_to "Новинка", seo_url(@taxon_novelty) %>
        <% else %>
            <a href="#">Новинка</a>
        <% end %>
      </h3>
      <div class="item">
        <%= link_to product_image(@novelty, :width=>155), @novelty %>
        <span class="name"><%= link_to raw(@novelty.name), @novelty %></span>
        <div class="arc"><%= @novelty.sku %></div>
        <div class="price"><%= @novelty.price %></div>
      </div>
    </td>
    <td>
      <h3>
        <% if !@taxon_popu.nil? %>
            <%= link_to "Популярное", seo_url(@taxon_popu) %>
        <% else %>
            <a href="#">Популярное</a>
        <% end %>
      </h3>
      <div class="item">
        <%= link_to product_image(@popu, :width=>155), @popu %>
        <span class="name"><%= link_to raw(@popu.name),@popu %></span>
        <div class="arc"><%= @popu.sku %></div>
        <div class="price"><%= @popu.price %></div>
      </div>
    </td>
    <td>
      <h3>
        <% if !@taxon_sale.nil? %>
            <%= link_to "Скидка", seo_url(@taxon_sale) %>
        <% else %>
            <a href="#">Скидка</a>
        <% end %>

      </h3>
      <div class="item">
        <%= link_to product_image(@sale, :width=>155), @sale %>
        <span class="name"><%= link_to raw(@sale.name), @sale %></span>
        <div class="arc"><%= @sale.sku %></div>
        <div class="price"><%= @sale.price %></div>
      </div>
    </td>
  </tr>
  <tr>
    <td height="25px"></td>
  </tr>
  </tbody>
</table>

<div class=maintext>
<h1>Интернет магазин ювелирных украшений Bemileo.ru</h1>
<p> <u><i> Украшения, которые всегда в наличии! </u></i></p>
<p>На Bemileo.ru мы собрали для Вас лучший ассортимент, который мы постоянно пополняем: ювелирные украшения из серебра, серебро с полудрагоценными камнями, серебро с марказитами, серебро с цирконами. Ювелирные украшения из золота, золото с  бриллиантами, с драгоценными и полудрагоценными камнями.</p>
<p>На Bemileo.ru Вы всегда найдете идеальный подарок: &nbsp;серьги, кольца, подвески, браслеты, колье, броши. На ваш выбор любые вставки: марказиты, цирконы, изумруды, сапфиры, гранат, топаз, рубин, аметисты.</p>
<p>Bemileo.ru также предлагает Вам ознакомиться с нашей коллекцией <a title="Коктейльные кольца из золота и серебра" href="http://bemileo.ru/t/rings/cocktail">коктейльных колец</a>.</p>
<p>Яркие, привлекающие внимание кольца, украшенные крупными камнями или россыпью бриллиантов &ndash; несомненно, дополнят любой наряд, подчеркнут Ваш вкус и индивидуальность.</p>
<p>Создавая Bemileo.ru - мы перенесли наш <strong>15 летний опыт торговли ювелирными украшениями</strong> в Интернет.</p>
<p>Мы стараемся уделить особое внимание каждому клиенту, поэтому мы заботимся о качестве обслуживания, удобной и быстрой доставке, возможности забронировать и примерить понравившиеся украшения.</p>
<p>Совершить покупку на Bemileo.ru просто, зайдите на наш сайт, выберите понравившееся украшения и нажмите кнопку &laquo;Купить&raquo;.</p>
<p>Или позвоните нам на: 89-111-222-888</p>

<p><u><i>Bemileo.ru! Украшения на любой вкус! <br />Цены на любой бюджет! Подарки на любой случай! </u></i></p>
</div>
