<div class="login">
    <div>
        <%= form_for(:user, :url => user_session_path) do |f| %>
            <%= f.label(:email, t("email")) %>
            <%= f.text_field('email', :id => 'txtuser') %>
            <%= f.label :password, t("password") %>
            <%= f.password_field 'password', :id => 'txtpass' %>
            <p>
                <%= f.check_box :remember_me, :class=> 'left' %>
                <%= f.label :remember_me, t('remember_me'), :class => 'left' %>
            </p>
            <div class="clear"></div>
            <%= submit_tag t("login"), :title => 'Sign In', :alt => t("login"), :class=>'button' %>
        <% end %>
        <%= link_to t('register'), signup_url, :class=>'input button' %>
    </div>
</div>