<table class="index">
  <tbody id='line-items'>
    <tr>
      <%= hook :order_details_line_items_headers do %>
        <th><%= t('item_description') %></th>
        <th class="price"><%= t('price') %></th>
        <th class="qty"><%= t('qty') %></th>
        <th class="total"><span><%= t('total') %></span></th>
      <% end %>
    </tr>

    <% @order.line_items.each do |item| %>
      <tr>
        <%- locals = {:item => item} %>
        <%= hook :order_details_line_item_row, locals do %>
          <td width="300">
	    <%=item.variant.product.name%>
	    <%= ("(" + variant_options(item.variant) + ")").html_safe unless item.variant.option_values.empty? %>
	  </td>
          <td class="price"><%= number_to_currency item.price %></td>
          <td class="qty"><%=item.quantity%></td>
          <td class="total"><span><%= number_to_currency (item.price * item.quantity)%></span></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  <%= hook :order_details_subtotal do %>
    <tbody class="total_info">
      <tr class="total" id="subtotal-row">
        <td colspan="3" class="total_info_label"><b><%= t('subtotal') %>:</b></td>
        <td class="total"><span><%= number_to_currency @order.item_total %></span></td>
      </tr>
    </tbody>
  <% end %>
  <%= hook :order_details_adjustments do %>
    <tbody class="total_info">
      <% @order.adjustments.each do |adjustment| %>
        <tr class="total">
          <td colspan="3" class="total_info_label"><strong><%= adjustment.label %></strong></td>
          <td class="total"><span><%= number_to_currency adjustment.amount %></span></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
  <%= hook :order_details_total do %>
    <tbody class="total_info" id='order-total'>
      <tr class="total">
        <td colspan="3" class="total_info_label"><b><%= t('order_total') %>:</b></td>
        <td class="total_value"><span id="order_total"><%= number_to_currency @order.total %></span></td>
      </tr>
    </tbody>
  <% end %>
</table>
