<%
  paginated_products = @searcher.products if params.key?(:keywords)
  paginated_products ||= products
  hide_page_numbers  ||= nil

%>
<% if products.empty? %>
  <%= t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h3><%= t(:search_results, :keywords => h(params[:keywords])) unless params[:keywords].blank? %></h3>
<% end %>
 
<% if products.any? %>
<% cc=0 %>
<% cc=2 if products.length==1 %>
<% cc=1 if products.length==2 %>
<table class="product">
  <% products.each do |product| %>
    <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
      <%= hook :products_list_item, {:product => product} do %>
        <% if cc==0 %><tr><% end %>
          <td>
            <div class="item">
              <%= link_to small_image(product), product %>
              <div class="name">
                <%= link_to raw(product.name), product %>
              </div>
              <div class="actions">
                <!--<%= link_to t("add_to_cart"), add_to_cart_path(:variant_id => product.master.id), :method => :put %>-->
                <!-- AddThis Button BEGIN -->
                <!--<a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=ra-4e81ac172e3fab39"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>-->
                <!--<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>-->
                <!--<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e81ac172e3fab39"></script>-->
                <!-- AddThis Button END -->
              </div>
              <div class="arc">
                <!--<%=t 'index.sku' %>:--> <%= product.sku %>
              </div>
              <div class="price">
                <%= product_price(product) %>
              </div>

            </div>
          </td>
          <% if cc<2 %>
            <td>
              <%= image_tag 'border.jpg' %>
            </td>
          <% end %>
        <% if cc==2 %></tr><% cc=0 %><% else %><% cc=cc+1 %><% end %>
      <% end %>
    <% end %>
  <% end %>
</table>
<% end %>
<% if paginated_products.respond_to?(:total_pages) && (hide_page_numbers.nil?) %>
    <div class="page_numbers">
	
		<div class="align_center_to_left">
		<div class="align_center_to_right">	
		
			<%
			  params.delete(:search)
			  params.delete(:taxon)
	
			%>
			<%= will_paginate(paginated_products,
						:previous_label => "&#171; #{t('previous')}",
						:next_label => "#{t('next')} &#187;") %>
		</div>
		</div>				
    </div>
<% end %>