<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Taxon.roots %>
<%= form_tag products_url, :method => :get, :id=>'form' do %>
    <%# select_tag :taxon,
        options_for_select([[t(:all_departments), '']] +
                              @taxons.map {|t| [t.name, t.id]},
                            @taxon ? @taxon.id : params[:taxon]) %>
    <%= text_field_tag :keywords, params[:keywords], :onFocus => "this.value=''", :value => t('search') %>

    <a href="#" onclick="getElementById('form').submit()">
      <%= image_tag 'icon_search.png', :alt => "" %>
    </a>
<% end %>