<div id="windows">
    <div id="example">
	    <div id="slides">
			<div class="slides_container">
		<%= link_to image_tag('7.jpg', :width => 692, :height => 229), '', :title => '', :target => '_blank' %>
                <%= link_to image_tag('9.jpg', :width => 692, :height => 229), '', :title => '', :target => '_blank' %>
                <%= link_to image_tag('3.jpg', :width => 692, :height => 229), '/t/rings/silver-semiprecious', :title => '', :target => '_blank' %>
                <%= link_to image_tag('8.jpg', :width => 692, :height => 229), '', :title => '', :target => '_blank' %>
                <%= link_to image_tag('5.jpg', :width => 692, :height => 229), '/t/earrings/silver-semiprecious', :title => '', :target => '_blank' %>
            </div>
	    </div>
    <%= image_tag 'header-bg.png', :width => 721, :height => 248, :id => 'frame' %>
    </div>
</div>

