<%= javascript_include_tag "http://userapi.com/js/api/openapi.js?34" %>
<!-- VK Widget -->
<div id="vkontakte">
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 0, width: "290", height: "292"}, 26050755); <%# 26050755 -> vkontakte group's id %>
</script>
</div>
<div id=facebook>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-activity" data-site="bemileo.ru" data-width="290" data-height="300" data-header="true" data-recommendations="false"></div>
</div>