<% cache('menu_taxonomies', :expires_in => 1.day) do %>
	<div class="search">
		<%= render :partial => 'shared/search' %>
	</div>
    <%= image_tag 'separatop_m.png', :alt => "", :class => "bottom-m_15"%>
    <div id="MenuLeft">
        <ul id="nav">
        <% get_taxonomies.each do |taxonomy| %>
            <li>
              <%= link_to taxonomy.root.name, seo_url(taxonomy.root)%>
              <%= render :partial => 'shared/taxonomy', :object=> taxonomy.root %>
            </li>
        <% end %>
        </ul>
    </div>
<% end %>