<% show_links ||= true %>
<tr class="<%= cycle('', 'alt') %>">
  <td class="img_product">
    <%- locals = {:item_form => item_form, :variant => variant, :line_item => line_item} %>
    <%= hook :cart_item_image, locals do %>
      <% if variant.images.length == 0 %>
        <%= small_image(variant.product) %>
      <% else %>
        <%= image_tag variant.images.first.attachment.url(:small) %>
      <% end %>
    <% end %>
  </td>
  <td class="noborder">
    <div>
      <%= hook :cart_item_description, locals do %>
	<%= link_to variant.product.name, product_path(variant.product) %>
	<p><%= variant.product.sku %></p>
      <% end %>
    </div>
    <% if show_links %>
      <div class="order_bottom_links">
<!--[if !IE]>	  <%= form_for WishedProduct.new do |wish_f| %>
	    <%= wish_f.hidden_field :variant_id, :value => variant.try(:id) %>
	    <%= link_to t("add_to_wishlist"), '#', :class=>'wishlist_submit'  %>
	  <% end %>
	   | <![endif]-->
	  <%= hook :cart_item_delete, locals do %>
	    <%= link_to('удалить', '#', :class => 'delete') %>
	  <% end %>
      </div>
    <% end %>
  </td>
  <td>
    <% variant.option_values.each do |value| %>
        <p><span class="specific_name"><%= value.option_type.presentation %></span>
          <span class="specific_value"><%= value.presentation %></span>
        </p>
    <% end %>
    <p>
      <label for="numb" class="specific_name">Количество:</label>
      <%= item_form.text_field :quantity, :id => "numb", :class => "line_item_quantity" %>
    </p>
  </td>
  <td>
    <%= hook :cart_item_price, locals do %>
        <h3><%= product_price(line_item) %></h3>
    <% end %>
  </td>
</tr>
<tr class="border">
  <td colspan="4">
    <div>&nbsp;</div>
  </td>
</tr>
