<% content_for :sidebar do %>
    <%= hook :taxon_sidebar_navigation do %>
        <%= render :partial => "shared/taxonomies" %>
    <% end %>
<% end %>

<h1><%= t("shopping_cart") %>
  <% if not @order.line_items.empty? %>&nbsp;(<%= @order.line_items.length %>)&nbsp;
  <% end %></h1>
<br class="clear">

<% if @order.line_items.empty? %>

    <%= hook :empty_cart do %>
        <p><%= t("your_cart_is_empty") %></p>
        <p><%= link_to t("continue_shopping"), products_path, :class => 'button continue' %></p>
    <% end %>

<% else %>
    <div class="container_full top-m_15">
      <%= hook :outside_cart_form do %>
          <%= form_for(@order, :url => update_cart_path, :html=>{:id=>'updatecart'}) do |order_form| %>
              <%= hook :inside_cart_form do %>
                  <%= hook :cart_items do %>
                      <%= render :partial => 'form', :locals => {:order_form => order_form} %>
                  <% end %>
                  <p class="warning"></p>

                  <div class="ultimately">
                    <div class="fl_right">
                      <p><b>Сумма</b> (без учета доставки) <b class="left-m_40"><%= order_price(@order) %></b></p>
                      <%= link_to "Быстрая покупка", checkout_path, :class=>"submit_button_beig fl_left" %>
                      <%#= link_to "Обычная покупка", checkout_path, :class=>"submit_button_beig fl_left" %>
                    </div>
                  </div>
                  <!--  ultimately -->
              <% end %>
          <% end %>
      <% end %>
      <div class="full top-m_70">
        <%= render :partial => "products/taxons", :locals => {:@product => @order.products.sample } %>
      </div>
    </div>

<% end %>
