<% content_for :sidebar do %>
  <%= hook :taxon_sidebar_navigation do %>
    <%= render :partial => "shared/taxonomies" %>
  <% end %>
<% end %>
<div id="order">
  <%= link_to t('back_to_store'), products_path, :class=>'standart_link' %> 

  <% if params.has_key? :checkout_complete %>
  	<br/><br/>
  	<h3><%= t('thank_you_for_your_order') %></h3>         
  <% else %>
  	| <span class="standart_link"> <%= link_to t('my_account'), account_path if current_user %></span>
  <% end %>
  <br/><br/>
  <%= render :partial => 'shared/order_details', :locals => {:order => @order} %>
  <br/>
  <%= link_to t('back_to_store'), products_path, :class=>'standart_link' %>
</div>
