<div class="yui-gb">
  <div class="yui-u first">

    <% @product.options.each do |option| %>
      <p>
        <%= label :new_variant, option.option_type.presentation %><br />
        <% if @variant.new_record? %>
          <%= select(:new_variant, option.option_type.presentation,
            option.option_type.option_values.collect {|ov| [ ov.presentation, ov.id ] },
            {})
          %>
        <% else %>
          <% opt = @variant.option_values.detect {|o| o.option_type == option.option_type }.presentation %>
          <%= text_field(:new_variant,  option.option_type.presentation, :value => opt, :disabled => 'disabled') %>
        <% end %>
      </p>
    <% end %>

    <p><%= f.label :sku, t("sku") %><br />
    <%= f.text_field :sku %></p>

    <p><%= f.label :price, t("price") %>:<br />
    <%= f.text_field :price, :value => number_with_precision(@variant.price, :precision => 2) %></p>

    <p><%= f.label :price, t("special_price") %>:<br />
    <%= f.text_field :special_price, :value => number_with_precision(@variant.special_price, :precision => 2) %></p>

    <p><%= f.label :cost_price, t("cost_price") %>:<br />
    <%= f.text_field :cost_price, :value => number_with_precision(@variant.cost_price, :precision => 2) %></p>

    <p><%= f.label :barcode, t("barcode") %>:<br />
    <%= f.text_field :barcode %></p>

    <% if Spree::Config[:track_inventory_levels] %>
      <p><%= f.label :on_hand, t("on_hand") %>: <br />
      <%= f.text_field :on_hand %></p>
    <% end %>
  </div>
  <div class="yui-u">

    <% Variant.additional_fields.select{|af| af[:only].nil? || af[:only].include?(:variant) }.each do |field| %>
      <%= render :partial => "admin/shared/additional_field", :locals => {:field => field, :f => f} %>
    <% end %>

  </div>
</div>
