Дорогой Покупатель,

Благодарим вас за заказ и просим проверить нижеследующие данные. Если какие-то данные неверные или неточные, просим связаться с нашим оператором по телефону: 89-111-222-888.

============================================================
Информация по заказу
============================================================
<% for item in @order.line_items %>
<%= item.variant.sku %> <%=item.variant.product.name %> <%= strip_tags(variant_options(item.variant, false, false))  %> (<%=item.quantity%>) @ <%= number_to_currency item.price %> = <%= number_to_currency(item.price * item.quantity) %>
<% end %>
============================================================
Итого: <%= number_to_currency @order.item_total %>
<% @order.adjustments.each do |adjustment| %>
<%= "#{adjustment.label}: #{number_to_currency adjustment.amount}"%>
<% end %>
<% if @order.ship_total > 0 %>
Цена доставки: <%= number_to_currency @order.ship_total %>
<% end %>
Общая сумма заказа: <%= number_to_currency @order.total %>
Форма оплаты: <%= @order.payment_method.try(:name) %>


<% if !@order.my_coupon_code.blank? %>
Номер купона: <%= @order.my_coupon_code %>
<% end %>

<% if bill = @order.bill_address %>
  Персональные данные:
  <% if @order.user_id %>Номер клиента: <%= @order.user.id %><% end %>
  <% if bill.firstname or bill.lastname %>Имя: <%= bill.firstname %> <%= bill.lastname %><% end %>
  <% if bill.address1 %>Адрес: <%= bill.country.name %> <%= bill.state.name %> <%= bill.city %> <%= bill.address1 %> <%= bill.zipcode %><% end %>
  <% if @order.email %>E-mail: <%= @order.email %><% end %>
  <% if bill.phone %>Номер телефона: <%= bill.phone %><% end %>
<% end %>

www.bemileo.ru 
sales@bemileo.ru
телефон оператора: 89-111-222-888
адрес: пл.Конституции д.7, БЦ "Лидер" 196191 г.Санкт-Петербург
 
