<%=@myvariable %>
<!--<iframe name="onmoney"-->
        <!--src="https://secure.payonlinesystem.com/ru/payment/iframe/?OrderId=-->
        <!--&MerchantId=Belimeo-->
        <!--&OrderId=777-->
        <!--&Amount=1-->
        <!--&SecurityKey=-->
        <!--&ReturnUrl=-->
        <!--&FailUrl="-->
        <!--width="625"-->
        <!--height="925"-->
        <!--frameborder="0"-->
        <!--scrolling="no"-->
        <!--marginwidth="0"-->
        <!--marginheight="0">-->
<!--</iframe>-->