<% content_for :sidebar do %>
  <%= hook :homepage_sidebar_navigation do %>
    <% if "products" == @current_controller && @taxon %>
      <!--<%= render "shared/filters" %>-->
    <% else %>
      <%= render "shared/taxonomies" %>
    <% end %>
  <% end %>
<% end %>

<% if !params[:keywords].blank? %>

  <%= hook :search_results do %>
    <% if @products.empty? %>
      <%= t(:no_products_found) %>
    <% else %>
      <%= render "shared/products", :products => @products, :taxon => @taxon %>
    <% end %>
    <%= render "shared/filters" %>
  <% end %>

<% else %>

  <%= hook :homepage_products do %>
    <%= render "shared/products", :products => @products, :taxon => @taxon %>
  <% end %>
<% end %>
