<div class='toolbar'>
  <ul class='actions'>
    <li>
      <p><%= button_link_to t("new_user"), new_object_url, :icon => 'add', :id => 'admin_new_user_link' %></p>
    </li>
  </ul>
  <br class='clear' />
</div>


<h1><%= t("listing_users") %></h1>


<table class="index" id='listing_users'>
  <thead>
  <tr>
    <%= hook :admin_users_index_headers do %>
      <th><%= sort_link @search,:email,t("user"),{}, {:title => 'users_email_title'} %></th>
      <th><%= sort_link @search,:created_at,t("time"),{}, {:title => 'users_created_at_title'} %></th>
      <th>
        <%= hook :admin_users_index_header_actions %>
      </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
    <% @users.each do |user|%>
      <tr id="<%= dom_id user %>">
        <%- locals = {:user => user} %>
        <%= hook :admin_users_index_rows, locals do %>
          <td width="350px" class='user_email'><%=link_to user.email, object_url(user) %></td>
        <% end %>
	<td><%=link_to user.created_at, object_url(user) %></td>
        <td>
          <%= hook :admin_users_index_row_actions, locals do %>
            <%= link_to_edit user, :class => "edit" %> &nbsp;
            <%= link_to_delete user %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate(:previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>


<% content_for :sidebar do %>
  <div class="box">
    <h3><%= t(:search) %></h3>
    <% @search = User.search %>
    <%= form_for [:admin, @search] do |f| %>
      <%- locals = {:f => f} %>
      <%= hook :admin_users_index_search, locals do %>
        <p>
          <%= t("email") %><br />
          <%= f.text_field :email_contains, :size=>18 %>
        </p>
      <% end %>
      <%= hook :admin_users_index_search_buttons, locals do %>
        <p><%= button t("search") %></p>
      <% end %>
    <% end %>
  </div>
<% end %>
