<% content_for :sidebar do %>
  <%= hook :taxon_sidebar_navigation do %>
    <%= render :partial => "shared/taxonomies" %>
  <% end %>
<% end %>

<%= stylesheet_link_tag 'wishlist' %>

<h1><%= t("wishlist") %></h1>
<br class="clear">

<div class="container_full top-m_15">

    <table class="basket">
      <tbody id="line_items">
      <% if @wishlist.wished_products.size > 0 %>
        <% @wishlist.wished_products.each do |wish|
            params[:fd] = wish.class
            variant = wish.variant 
	    next unless variant
	    %>
            <tr>
              <td rowspan="2" class="img_product">
                <%= link_to small_image(variant.product), variant.product %>
              </td>
              <td class="noborder">
                <%= hook :cart_item_description do %>
                    <%= link_to variant.product.name, product_path(variant.product), :class => "fl_left" %>
                    <p><%= variant.product.sku %></p>
                <% end %>
              </td>
              <td>
                <% variant.option_values.each do |value| %>
                    <p>
                      <span class="specific_name"><%= value.option_type.name %></span>
                      <span class="specific_value"><%= value.name %></span>
                    </p>
                <% end %>
              </td>
              <td rowspan="2">
                <%= hook :cart_item_price do %>
                    <h3><%= product_price(variant.product) %></h3>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                <%= form_for :order, :url => populate_orders_url do |f| %>
                  <%= hidden_field_tag "variants[#{variant.id}]", 1, :size => 3 %>
                  <%= link_to t(:add_to_cart), '#', :onclick => "$(this).parent().submit(); return false;" %> |
                  <%= link_to t("remove_from_wishlist"), wish, :method => :delete %>
                <% end -%>
              <td>
            </tr>
            <tr class="border"><td colspan="4"><div>&nbsp;</div></td></tr>

        <% end -%>
      <% else -%>
            <tr>
              <td colspan="6"><%= t("your_wishlist_is_empty") %></td>
            </tr>
        <% end -%>
        </tbody>
    </table>

    <%= link_to products_path, :class => "href_navigation fl_left left_10" do %>
      <text>&larr;&nbsp;</text>
      <span><%= t("continue_shopping") %></span>
      <br class="clear">
    <% end -%>

    <% if @wishlist.wished_products.size > 0 %>
        <div class="ultimately">
            <div class="fl_right">
                <p><b>Сумма:</b><b class="left-m_40"><%= products_amount(@wishlist.wished_products) %></b></p>

                <%= form_for :order, :url => populate_orders_url do |f| %>
                  <% @wishlist.wished_products.each do |wish|
                      variant = wish.variant
		      next unless variant %>
                      <%= hidden_field_tag "variants[#{variant.id}]", 1, :size => 3 %>
                  <% end -%>
                  <%= link_to "Добавить все в корзину", '#', :onclick => "$(this).parent().submit(); return false;", :class => "submit_button_beig fl_left" %>
                <% end -%>
            </div>
        </div>

        <div class="full top-m_70">
          <%= render :partial => "products/taxons", :locals => {:@product => @wishlist.wished_products.map{|wish| wish.variant.product }.sample } %>
        </div>
    <% end -%>

</div>