<% content_for :page_title do %>
    <h1 class="font-41 black"><%= t("onlinedengi.pay") %></h1>
<% end %>
<h1>Оплата</h1>
<br class="clear">
<div class="container_full_marg top-m_15">
  <h1 class="font-41 black"><%= "#{t('order')} #{@order.number}" %></h1>

  <h1 class="font-41 black"><%= "#{t('order_id')} #{@order.id}" %></h1>
  <%= form_for(@order, :url => update_cart_path, :html=>{:id=>'updatecart'}) do |order_form| %>
      <table class="basket">
        <tbody>
        <%= order_form.fields_for :line_items do |item_form| %>
            <%= render 'orders/line_item', :variant => item_form.object.variant, :line_item => item_form.object, :item_form => item_form, :show_links => false %>
        <% end %>
        </tbody>
      </table>
  <% end %>
  <div class="ultimately bottom_40">
  <div class="fl_right">
    <p><b>Сумма:</b> <b class="left-m_40"><%= number_to_currency @order.total %></b></p>
  </div>
</div>

<br class="clear">
<div class="secure_text">
  <%= @secure_text.html_safe %>
</div>

  <br class="clear">
  <%= form_tag "http://www.onlinedengi.ru/wmpaycheck.php", :method => "POST" do %>
      <%= hidden_field_tag(:project, '870') %>
      <%= hidden_field_tag(:source, '870') %>
      <%= hidden_field_tag(:amount, @order.total) %>
      <%= hidden_field_tag(:comment, "Bemileo test") %>
      <%= hidden_field_tag(:nickname, "text") %>
      <%= hidden_field_tag(:order_id, @order.id) %>
      <%# bank cards, was 63 %>
      <%= hidden_field_tag(:mode_type, 57) %>

      <div class="clear"></div>
      <div class="font-41">&nbsp;</div>
      <button style="margin-left: 350px;" class="button_buy left" href="">
         <%=t("pay")%>
      </button>
      <div class="clear"></div>
  <% end %>

</div>