<% if current_user %>
	<div id="wishlist-form" class="wishes">
	  <%= form_for WishedProduct.new do |wish_f| %>
	    <%= wish_f.hidden_field :variant_id, :value => @product.master.id %>
	    <%= link_to t("add_to_wishlist"), '#', :class=>'wishlist_submit submit_button'  %>
	  <% end %>
	</div>
<% end %>
