﻿<div id=mybreadcrumbs1>

<% if @taxon %>
  <% if @taxon.parent %>
            <%= link_to @taxon.parent.name, seo_url(@taxon.parent) %>
            <%= render :partial => 'shared/taxonomy', :object=> @taxon %>
  <% end %>

   > 

            <%= link_to @taxon.name, seo_url(@taxon) %>
            <%= render :partial => 'shared/taxonomy', :object=> @taxon %>

   >
<% end %> 
<%= @product.name %>

</div>