<%= render 'add_to_wishlist' %>

<%= form_for :order, :url => populate_orders_url do |f| %>
    <%= hook :inside_product_cart_form do %>
	<!--see properies file-->
        <fieldset class="form_productcard">
          <legend></legend>
          <% if @product.has_variants? %>
              <% has_checked = false
                 @product.variants.active.each_with_index do |v, index|
                     next if v.option_values.empty? || (!v.in_stock && !Spree::Config[:show_zero_stock_products])
                     checked = !has_checked && (v.in_stock || Spree::Config[:allow_backorders])
                     has_checked = true if checked %>
                  <div class="form_row">
                   <label>
                      <%= variant_options v %>
                      <% if variant_price_diff(v)%>
                          <span class="price diff"><%= variant_price_diff v %></span>
                      <% end %>
                    </label>
                  </div>
              <% end %>
          <% end %>

          <% if @product.has_stock? || Spree::Config[:allow_backorders] %>
              <div class="cart_form_bottom">
                <%= text_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"),
                                   1, :class => "title", :size => 3 %>
                <br/>
                <%= image_submit_tag 'button.png' %>
              </div>
          <% else %>
              <%= content_tag('strong', t('out_of_stock')) %>
          <% end %>
        </fieldset>
    <% end %>
<% end %>

<% content_for :head do %>
    <%= javascript_include_tag 'product' %>
<% end %>
