<fieldset class="form_productcard">
  <legend></legend>
  <% if @product.has_variants? and @selected_variant %>
      <%= hidden_field_tag 'product', @product.id %>
      <%= hidden_field_tag 'variant', @selected_variant.try(:id) %>
      <% @product.option_types.each do |option_type| %>
          <div class="form_row">
            <%= label_tag "option_types_#{option_type.id}", option_type.presentation %>
            <%
               selected = @selected_variant.option_values.detect { |ov| ov.option_type_id == option_type.id }
               selected = selected.id if selected
               # TODO: show variant_price_diff in select.
            %>
              <%= select_tag "option_types[#{option_type.id}]", options_from_collection_for_select(instock_option_values(@product, option_type).reverse, :id, :presentation, selected) %>
          </div>
      <% end %>
  <% end %>

  <% if product_price(@product) %>
      <div class="form_row">
        <%= hook :product_price do %>
			<div class="fl_left top_10">
            	<%= t("price") %>
            	<span class="price_new right-m_30"><%= product_price(@product) %></span>
			</div>
        <% end %>
		
		<div class="fl_right">
        	<div class="block relative tooltip_init" id="package">
          	<%= image_tag "icon_1.png" %>

			  <div class="tooltip">
				<h6>
				  В стоимость входит подарочная упаковка.
				  <a href="/free_gift_wrapping" class="defolt">Подробности&gt;</a>
				</h6>
				<span class="drop_arrow"></span>
			  </div>
			</div>
	
			<div class="block relative tooltip_init" id="delivery">
			  <%= image_tag "icon_6.png" %>
	
			  <div class="tooltip">
				<h6>
				  Доставка до заказчика. 
				  <a href="/delivery" class="defolt">Подробности&gt;</a>
				</h6>
				<span class="drop_arrow"></span>
			  </div>
			</div>
	
			<div class="block relative tooltip_init" id="credit">
			  <%= image_tag "icon_3.png" %>
			  <div class="tooltip">
				<h6>
				  Возможность покупки в кредит.
				  <a href="/the_possibility_of_buying_on_credit" class="defolt">Подробности&gt;</a>
				</h6>
				<span class="drop_arrow"></span>
			  </div>
			</div>
		</div>
		
      </div>
  <% end %>


  <% if @product.has_stock? || Spree::Config[:allow_backorders] %>
      <%= text_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"),
                         1, :class => "title", :size => 3, :style =>"display:none;" %>
      <div class="form_row">
          <input type="submit" value="В корзину">
          
      </div>
  <% else %>
      <%= content_tag('strong', t('out_of_stock')) %>
  <% end %>
</fieldset>

<% content_for :head do %>
    <%= javascript_include_tag 'dropdown_variants' %>
<% end %>