<% unless @product_properties.empty? %>
    <h3 class="brown top_40 border_brown"><%=t('features')%></h3>
    <table class="specification">
      <tbody>
      <% for product_property in @product_properties %>
          <tr>
            <td>
              <%= product_property.property.presentation %>
            </td>
            <td>
              <%= product_property.value %>
            </td>
          <tr>
      <% end %>
      </tbody>
    </table>
<% end %>
