<% if @searcher %>
  <% if suggestion = @searcher.suggest and !suggestion.eql?("is_active_t:(true)") and !@searcher.suggest.force_encoding("UTF-8").eql?(params[:keywords]) %>
    <p>
      <%= t(:did_you_mean, :default => "Did you mean") %>
      <%= link_to h(suggestion), url_for(request.params.merge({:keywords => suggestion})) %>?
    </p>
  <% end %>
<% end %>