<% if !@product.taxons.blank? %>
      <!--<h3 class="brown border_brown">-->
        <!--<%= t('similar_items') %>-->
      <!--</h3>-->
      <%= hook :product_taxons do %>
          <ul><%#  class="box_item" %>
            <% @product.taxons.sample(2).each do |taxon| %>
                <h3 class="brown border_brown">
                  <%= taxon.name %>
                </h3>
                <table class="product center">
                  <tbody>
                  <tr>
                    <% taxon.products.sample(4).each do |product, i| %>
                        <td>
                          <div class="item">
                            <%= link_to small_image(product), product %>
                            <span class="name"><%= link_to raw(product.name), product %></span>

                            <div class="arc"><%= product.sku %></div>
                            <div class="price"><%= product.price %></div>
                          </div>
                        </td>
                    <% end %>
                  </tr>
                  </tbody>
                </table>
            <% end %>
          </ul>
      <% end %>

<% end %>
