<% content_for :sidebar do %>
  <%= hook :homepage_sidebar_navigation do %>
    <% if "products" == @current_controller && @taxon %>
      <!--<%= render "shared/filters" %>-->
    <% else %>
      <%= render "shared/taxonomies" %>
    <% end %>
  <% end %>
<% end %>
<% if !params[:keywords].blank? %>

  <%= hook :search_results do %>
    <% if @products.empty? %>
      <%= t(:no_products_found) %>
    <% else %>
      <%= render "shared/products", :products => @products, :taxon => @taxon %>
    <% end %>
    <%= render "shared/filters" %>
  <% end %>

<% else %>
  <%= render :partial => 'shared/slides' %>

  <div id="banner"> 
<div id=linkimg1><a href="/t/gifts/children"><img src=/images/trans230x100.png id=transimg></a></div>
<div id=linkimg2><a href="/t/earrings/silver-cubic-zirconia"><img src=/images/trans230x100.png id=transimg></a></div>
<div id=linkimg3><a href="/t/bracelets/silver-semiprecious"><img src=/images/trans230x100.png id=transimg></a></div>
</div>

  <%= hook :homepage_products do %>
    <%= render "shared/homepage", :products => @products, :taxon => @taxon %>
  <% end %>
<% end %>
