<% content_for :sidebar do %>
    <%= hook :taxon_sidebar_navigation do %>
        <%= render :partial => "shared/taxonomies" %>
    <% end %>
<% end %>
<%= javascript_include_tag "jquery.ad-gallery.js" %>
<%= javascript_include_tag "jquery.jqzoom-core-pack.js" %>
<script type="text/javascript">
    $(function() {
        var galleries = $('.product-gallery').adGallery();
    });
    jQuery(document).ready(function() {
        var options = {
            zoomType: 'reverse',
            lens:true,
            preloadImages: true,
            alwaysOn:false,
            zoomWidth: 360,
            zoomHeight: 300,
            xOffset:20,
            yOffset:0,
            position:'right',
            imageOpacity:0.4
        };
        $('.zooming').jqzoom(options);
    });
</script>

<%= render :partial => "breadcrumbs" %>

<div class="container_full top-m_15">
  <div class="container_half_marg">
    <div class="galery">
      <%= hook :product_images do %>
          <% unless @product.images.empty? %>
              <div id="gallery" class="product-gallery left_10">
                <%= link_to image_tag(@product.images.first.attachment.url(:large), :alt=>""), @product.images.first.attachment.url(:full_size), :class=>"zooming", :rel=>"gall" %>
                <div class="clear"></div>
                <div class="ad-controls"></div>

                <div class="ad-nav">
                  <div class="ad-thumbs">
                    <ul>
                      <% @product.images.each_with_index do |image, i| %>
                          <li>
                            <%= link_to image_tag(image.attachment.url(:mini), :title=>"", :longdesc=>"", :class=>"image#{i}"), image.attachment.url(:large), :rel=>"{gallery: 'gall', smallimage: '#{image.attachment.url(:large)}',largeimage: '#{image.attachment.url(:full_size)}'}" %>
                          </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
          <% end %>
          <!--product-gallery -->
      <% end %>
    </div>
    <%= render 'properties' %>
  </div>
  <div class="container_half">
    <h4 class="top_10"><%= @product.name %></h4>

    <div class="raiting">
      <%= ratings_for @product %>
      <div class="art">Арт: <%= @product.sku %></div>
    </div>
    <div class="article">
      <p>
        <%= product_description(@product) rescue t("product_has_no_description") %>
      </p>
    </div>

    <%= hook :cart_form do %>
        <%= render 'cart_form_custom' %>
    <% end %>

    <div class="share_buttons">
    <ul class="sorting connectbtn">
      <li><a href="http://www.facebook.com/sharer.php?u=<%= request.url %>" rel="nofollow" target=_blank title="Добавить в Facebook" class="icon_fb_btn"></a></li>

      <li><a href="http://vkontakte.ru/share.php?url=<%= request.url %>" rel="nofollow" target=_blank title="Добавить в ВКонтакте" class="icon_vk_btn"></a></li>

      <li><a href="http://twitter.com/share" data-count="horizontal" data-lang="<%= session[:locale] %>" class="icon_tw_btn"></a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
      <li><a href="mailto:?subject=<%= @product.name %>&body=<%= request.url %>" title="Рекомендовать страницу друзьям">E-mail другу</a></li>

    </ul>

<div style="padding-left:10px;"><script type="text/javascript"><!--
document.write(VK.Share.button(false,{type: "round_nocount", text: "Хочу в подарок"}));
--></script> </div>

    </div>
  </div>
  <br class="clear">

  <div class="full top_40">
    <%= render :partial => "taxons" %>
    <%= render :partial => "shared/comments/comments" %>
  </div>
</div>
