<%= form_tag({:action => 'upload'}, {:multipart => true, :id => "upload_form"}) do %>
  <%= file_field_tag "file" %>
  <%= submit_tag %>
<% end %>

<script>
    $('#upload_form').ajaxForm(function(response) { jAlert(response,"Загрузка", function(){
        history.go(0)
    });});
 </script>
