<% content_for :sidebar do %>
  <%= hook :taxon_sidebar_navigation do %>
    <%= render :partial => "shared/taxonomies" %>
  <% end %>
<% end %>

<% if flash[:alert] %>
  <%= flash[:alert] %>
<% end %>

<div class="content authorization">

    <div class="container_full_marg top-m_15">
       <h3 class="border_brown"><%= t("authorization") %><span><%= t("already_authorized") %></span></h3>

       <%= hook :page_login do %>
          <%= form_for(:user, :url => user_session_path) do |f| %>
             <fieldset class="form_authorization"><legend></legend>
               <div class="form_row">
                  <%= f.label(:email, t("authorization_email") + ':') %>
                  <%= f.text_field('email', :id => 'txtuser') %>
               </div>
               <div class="form_row">
                 <%= f.label :password, t("password") + ':' %>
                 <%= f.password_field('password', :id => 'txtpass') %>
               </div>
               <div class="form_row">
                 <div class="row_wrapper">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me, t('remember_me')%>
                 </div>
               </div>

               <%= link_to t("forgot_password"), new_user_password_path, :class => "defolt password" %>

               <%= submit_tag t("login"), :class=>'submit_button_beig right-m_50', :alt => t("login") %>

               <% if flash[:alert] %>
                  <div class="form_row error_mess"><label><%= flash[:alert] %></label></div>
               <% end %>

             </fieldset>
          <% end %>
       <% end %>

       <h3 class="border_brown top_40"><%= t("registration") %><span><%= t("registration_new_user") %></span></h3>
         <ul class="dash_style">
            <li>начисление бонусных баллов</li>
            <li>скидки в день рождения</li>
            <li>подарочные карты</li>
            <li>участие в акциях</li>
         </ul>

       <%= link_to t("registration_sign_in"), signup_path, :class => "submit_button_beig right-m_50" %>

	   <br class="clear">
       <%= hook :login_extras %>

       <br class="clear">
    </div>
</div>