<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<%= hook :inside_head do %>
  <%= render :partial => 'shared/head'%>
<% end %>
</head>
<body>

<div id="page">
  <div id="wrapper">
    <%= render :partial => 'shared/header' %>
  </div>

  <div id="conteiner">
    <div class="content">
      <div id="ContLeft">
          <%= yield :sidebar %>
      </div>
      <div id="ContRigh">

	<% flash.each do |k,note| %>
	  <div class="notify <%= k %>"><%= note %></div>
	<% end %>

        <%= yield %>
      </div>
    </div>
  </div>
  <div id="footer">
    <%= render :partial => 'shared/footer' %>
  </div>
</div>

</body>
</html>
